Repository Softeq/XToolkit.WhiteLabel, changes with the labels that .github/labeler.yml gives for each.
All labels: c/bindings, c/common, c/connectivity, c/permissions, c/push-notifications, c/remote, c/wl, c/wl.essentials, c/wl.forms, c/playground, CI/CD, documentation, p/Android, p/iOS

Add INavigationSerializer and impl. for Android navigation
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/BundleService.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/DefaultJsonSerializerTests/DefaultJsonSerializerTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/DefaultJsonSerializerTests/DefaultJsonSerializerTestsNavigationSerializer.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/JsonSerializers/JsonDeserializationDataProvider.cs
  Softeq.XToolkit.WhiteLabel/Navigation/INavigationSerializer.cs
  Softeq.XToolkit.WhiteLabel/Services/DefaultJsonSerializer.cs
Labels: c/wl, p/Android

Export IBundleService & add docs
  Softeq.XToolkit.WhiteLabel.Droid/ActivityBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Interfaces/IBundleService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/ActivityPageNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/BundleService.cs
Labels: c/wl, p/Android

Remove Chunkify method (#523)
  Softeq.XToolkit.Common.Tests/Extensions/EnumerableExtensionsTests/EnumerableExtensionsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Extensions/EnumerableExtensionsTests/EnumerableExtensionsTests.cs
  Softeq.XToolkit.Common/Extensions/EnumerableExtensions.cs
Labels: c/common

Remove Newtonsoft.Json (#524)
  Softeq.XToolkit.Common/Interfaces/IJsonSerializer.cs
  Softeq.XToolkit.Remote/Softeq.XToolkit.Remote.csproj
  Softeq.XToolkit.WhiteLabel.Droid/ActivityBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Interfaces/IBundleService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/ActivityPageNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/BundleService.cs
  Softeq.XToolkit.WhiteLabel.Tests/Extensions/ExpressionExtensionsTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/FluentNavigators/FluentNavigatorExtensionsTests/FluentNavigatorExtensionsTestsDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/NavigationParameterModelTests/NavigationParameterModelDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/NavigationParameterModelTests/NavigationParameterModelTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/PropertyInfoModelTests/NavigationPropertyInfoTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/DefaultJsonSerializerTests/DefaultJsonSerializerTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/DefaultJsonSerializerTests/DefaultJsonSerializerTestsNavigationSerializer.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/JsonSerializers/JsonDeserializationDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/NewtonsoftJsonSerializerTests/NewtonsoftJsonSerializerTests.cs
  Softeq.XToolkit.WhiteLabel.iOS/AppDelegateBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Dependencies.cs
  Softeq.XToolkit.WhiteLabel/Extensions/ExpressionExtensions.cs
  Softeq.XToolkit.WhiteLabel/Navigation/FluentNavigators/FluentNavigatorBase.cs
  Softeq.XToolkit.WhiteLabel/Navigation/INavigationSerializer.cs
  Softeq.XToolkit.WhiteLabel/Navigation/NavigationExtensions.cs
  Softeq.XToolkit.WhiteLabel/Navigation/NavigationParameterModel.cs
  Softeq.XToolkit.WhiteLabel/Navigation/NavigationPropertyInfo.cs
  Softeq.XToolkit.WhiteLabel/Services/DefaultJsonSerializer.cs
  Softeq.XToolkit.WhiteLabel/Services/NewtonsoftJsonSerializer.cs
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  samples/Playground/Playground.iOS/Playground.iOS.csproj
Labels: c/common, c/remote, c/wl, c/playground, p/Android, p/iOS

Revert namespace
  Softeq.XToolkit.Common.Droid.Tests/Platforms/Android/Extensions/StringExtensionsTests/StringExtensionsDataProvider.cs
Labels: none

.github/labeler.yml:

c/bindings:
  - any: ['*Bindings*/**/*', '!*Bindings*Tests/**/*']

c/common:
  - any: ['*Common*/**/*', '!*Common*Tests/**/*']

c/connectivity:
  - any: ['*Connectivity*/**/*', '!*Connectivity*Tests/**/*']

c/permissions:
  - any: ['*Permissions*/**/*', '!*Permissions*Tests/**/*']

c/push-notifications:
  - any: ['*PushNotifications*/**/*', '!*PushNotifications*Tests/**/*']

c/remote:
  - any: ['*Remote*/**/*', '!*Remote*Tests/**/*']

c/wl:
  - any: ['*WhiteLabel*/**/*', '!*WhiteLabel*Tests/*', '!*WhiteLabel.Essentials*/*', '!*WhiteLabel.Forms*/**/*']

c/wl.essentials:
  - any: ['*WhiteLabel.Essentials*/**/*', '!*WhiteLabel.Essentials*Tests/**/*']

c/wl.forms:
  - any: ['*WhiteLabel.Forms*/**/*', '!*WhiteLabel.Forms*Tests/**/*']

c/playground:
  - samples/Playground*/**/*

CI/CD:
  - .github/workflows/**/*
  - azure-pipelines/**/*

documentation:
  - documentation/**/*

p/Android:
  - '*.Droid/**/*'

p/iOS:
  - '*.iOS/**/*'
