Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2019-10, with the labels that each got.

#186 Refactor ConsoleLogger & JsonSerializer
  Softeq.XToolkit.WhiteLabel/Services/JsonSerializer.cs
  Softeq.XToolkit.WhiteLabel/Services/Logger/ConsoleLogManager.cs
  Softeq.XToolkit.WhiteLabel/Services/Logger/ConsoleLogger.cs
Labels: c/wl, good first issue

#189 Playground: iOS 13: Add basic dark support
  samples/Playground/Playground.iOS/Resources/LaunchScreen.storyboard
  samples/Playground/Playground.iOS/ViewControllers/EmptyPageStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/MainPageStoryboard.storyboard
  samples/Playground/Playground.iOS/Views/MainPageGroupHeaderViewCell.xib
Labels: c/playground

#197 iOS: fix parsing push token from NSData
  Softeq.XToolkit.PushNotifications.iOS/IosPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.iOS/NSDataExtensions.cs
  Softeq.XToolkit.PushNotifications.iOS/Softeq.XToolkit.PushNotifications.iOS.csproj
Labels: c/push-notifications

#196 simplufy wl setup
  Softeq.XToolkit.Connectivity.iOS/Softeq.XToolkit.Connectivity.iOS.csproj
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapper.cs
  Softeq.XToolkit.WhiteLabel.iOS/IosBootstraper.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IConcreteRegistration.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IfRegistered.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainer.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerBuilder.cs
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground.sln
  samples/Playground/Playground/Bootstrapper.cs
Labels: c/wl

#206 Small internal refactoring of ObservableKeyGroupsCollectionNew
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollectionNew.cs
Labels: c/common
