Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2019-11, with the labels that each got.

#208 Fixed dismissing of several modal viewControllers
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardDialogsService.cs
Labels: bug, c/wl, good first issue

#198 App Info
  Softeq.XToolkit.PushNotifications.iOS/NSDataExtensions.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/DroidAppInfoService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/DroidAppService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Services/IosAppInfoService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/IosAppService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Interfaces/IAppInfoService.cs
  Softeq.XToolkit.WhiteLabel/Interfaces/IAppService.cs
Labels: c/wl, good first issue

#205 Feature/ios push notifications improves
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.iOS/INotificationCategoriesProvider.cs
  Softeq.XToolkit.PushNotifications.iOS/IosNotificationCategoriesProvider.cs
  Softeq.XToolkit.PushNotifications.iOS/IosPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.iOS/NSDataExtensions.cs
  Softeq.XToolkit.PushNotifications.iOS/Softeq.XToolkit.PushNotifications.iOS.csproj
  Softeq.XToolkit.PushNotifications.iOS/UserNotificationCenterDelegate.cs
  Softeq.XToolkit.PushNotifications/ForegroundNotificationOptions.cs
  Softeq.XToolkit.PushNotifications/IPushNotificationsReceiver.cs
  Softeq.XToolkit.PushNotifications/IPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications/PushNotificationsServiceBase.cs
Labels: c/push-notifications, good first issue

#204 Feature/dialog styles refactor
  Softeq.XToolkit.PushNotifications.iOS/NSDataExtensions.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardDialogsService.cs
  Softeq.XToolkit.WhiteLabel.iOS/ViewControllerBase.cs
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground.iOS/ViewControllers/Dialogs/CustomTransitioningDelegate.cs
  samples/Playground/Playground.iOS/ViewControllers/Dialogs/DialogsPageStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Dialogs/DialogsPageViewController.designer.cs
  samples/Playground/Playground.iOS/ViewControllers/Dialogs/SimpleDialogPageStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Dialogs/SimpleDialogPageViewController.cs
  samples/Playground/Playground/ViewModels/Dialogs/SimpleDialogPageViewModel.cs
Labels: c/playground, c/wl

#203 Refactor bootstrapper & containerBuilder
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapper.cs
  Softeq.XToolkit.WhiteLabel.iOS/IosBootstraper.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IContainer.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IContainerBuilder.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IfRegistered.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerAdapter.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerBuilder.cs
Labels: c/wl, good first issue

#191 Refactor Common library tasks extensions.
  Softeq.XToolkit.Common.Tests/Extensions/TaskExtensionsTests.cs
  Softeq.XToolkit.Common/Commands/AsyncCommand.cs
  Softeq.XToolkit.Common/Extensions/TaskExtensions.cs
  Softeq.XToolkit.Common/Timers/Timer.cs
  Softeq.XToolkit.PushNotifications/PushNotificationsServiceBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/DroidToastService.cs
  samples/Playground/Playground/ViewModels/Components/PermissionsPageViewModel.cs
Labels: c/common, good first issue

#210 Update iOS DateTime extensions
  Softeq.XToolkit.Common.iOS/Extensions/DateTimeExtensions.cs
Labels: c/common

#216 Gestures sample
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground.iOS/ViewControllers/Components/GesturesPageStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Components/GesturesPageViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Components/GesturesPageViewController.designer.cs
  samples/Playground/Playground/ViewModels/Components/GesturesPageViewModel.cs
  samples/Playground/Playground/ViewModels/MainPageViewModel.cs
Labels: c/playground

#215 Feature/pn droid badges
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.Droid/INotificationsSettingsProvider.cs
  Softeq.XToolkit.PushNotifications.Droid/LocaleChangeBroadcastReceiver.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationActionsHelper.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationChannelsHelper.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationIntentActivityInfo.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationsHelper.cs
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.PushNotifications.iOS/IosPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications/IPushNotificationsHandler.cs
  Softeq.XToolkit.PushNotifications/IPushNotificationsService.cs
Labels: c/push-notifications

#212 Update docs
  documentation/Softeq.XToolkit.Documentation.csproj
  documentation/articles/toc.md
Labels: documentation

#221 Feature/frame navigation impl
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/FrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Views/ToolbarActivityBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Controls/BindableTabBarItem.cs
  Softeq.XToolkit.WhiteLabel.iOS/Helpers/UiTabBarControllerHelper.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardNavigation.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel.iOS/ViewControllers/Tab/RootFrameNavigationViewController.cs
  Softeq.XToolkit.WhiteLabel.iOS/ViewControllers/ToolbarViewControllerBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IContainer.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerAdapter.cs
  Softeq.XToolkit.WhiteLabel/Model/TabItem.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/RootFrameNavigationViewModelBase.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/ViewModelBase.cs
  Softeq.XToolkit.WhiteLabel/Navigation/IFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel/Navigation/Tab/ITabNavigationService.cs
  Softeq.XToolkit.WhiteLabel/Navigation/Tab/TabNavigationService.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/Tab/TabViewModel.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/Tab/ToolbarViewModelBase.cs
  samples/Playground/Playground/ViewModels/BottomTabs/BottonTabsPageViewModel.cs
  samples/Playground/Playground/ViewModels/BottomTabs/Second/BlueViewModel.cs
Labels: c/playground, c/wl
