Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2019-09, with the labels that each got.

#173 Add extension method for advanced configuration of Binding object.
  Softeq.XToolkit.Bindings/BindingExtensions.cs
  Softeq.XToolkit.Bindings/Extensions/BindableExtensions.cs
Labels: c/bindings

#170 Keygroup collection
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionNew/ObservableKeyGroupsCollectionNewTests.cs
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollectionNew.cs
  Softeq.XToolkit.Common/EventArguments/NotifyKeyGroupCollectionChangedEventArgs.cs
  Softeq.XToolkit.Common/Extensions/EnumerablesExtensions.cs
  Softeq.XToolkit.Common/Interfaces/INotifyKeyGroupCollectionChanged.cs
  Softeq.XToolkit.Common/Interfaces/IObservableKeyGroupsCollection.cs
Labels: c/common, enhancement

#174 Droid internal refactor
  Softeq.XToolkit.Common/Extensions/AssemblyExtensions.cs
  Softeq.XToolkit.Common/Extensions/TypeExtensions.cs
  Softeq.XToolkit.WhiteLabel.Droid/ActivityBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Controls/BadgeView.cs
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapper.cs
  Softeq.XToolkit.WhiteLabel.Droid/FragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/BackStack.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/IViewModelStore.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/ViewModelCache.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/ViewModelStore.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/ViewModelStoreFragment.cs
  Softeq.XToolkit.WhiteLabel.Droid/MainApplicationBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/ActivityPageNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/BundleService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/Constants.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidViewLocator.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/FrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/IViewLocator.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/ViewLocator.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Views/ToolbarActivityBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Controls/BindableTabBarItem.cs
  Softeq.XToolkit.WhiteLabel.iOS/IosBootstraper.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardNavigation.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardViewLocator.cs
  Softeq.XToolkit.WhiteLabel.iOS/ViewControllers/Tab/RootFrameNavigationViewController.cs
  Softeq.XToolkit.WhiteLabel.iOS/ViewControllers/ToolbarViewControllerBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/DryIoCContainerBuilder.cs
  Softeq.XToolkit.WhiteLabel/Model/TabItem.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/RootFrameNavigationViewModelBase.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/ViewModelBase.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/ViewModelFactoryService.cs
  Softeq.XToolkit.WhiteLabel/Navigation/BackStackManager.cs
  Softeq.XToolkit.WhiteLabel/Navigation/DialogsServiceExtensions.cs
  Softeq.XToolkit.WhiteLabel/Navigation/FluentNavigators/FrameFluentNavigator.cs
  Softeq.XToolkit.WhiteLabel/Navigation/FluentNavigators/PageFluentNavigator.cs
  Softeq.XToolkit.WhiteLabel/Navigation/FrameNavigationServiceExtensions.cs
  Softeq.XToolkit.WhiteLabel/Navigation/IFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/Tab/TabViewModel.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/Tab/ToolbarViewModelBase.cs
  samples/Playground/Playground.Droid/Properties/AndroidManifest.xml
  samples/Playground/Playground.Droid/Views/BottomTabs/First/RedFragment.cs
  samples/Playground/Playground.Droid/Views/BottomTabs/First/YellowActivity.cs
  samples/Playground/Playground.Droid/Views/BottomTabs/Second/BlueFragment.cs
  samples/Playground/Playground.Droid/Views/BottomTabs/Second/GreenFragment.cs
  samples/Playground/Playground.sln
  samples/Playground/Playground/Converters/IntToStringConverter.cs
  samples/Playground/Playground/ViewModels/BottomTabs/BottonTabsPageViewModel.cs
  samples/Playground/Playground/ViewModels/BottomTabs/First/RedViewModel.cs
  samples/Playground/Playground/ViewModels/BottomTabs/First/YellowViewModel.cs
  samples/Playground/Playground/ViewModels/BottomTabs/Second/BlueViewModel.cs
  samples/Playground/Playground/ViewModels/BottomTabs/Second/GreenViewModel.cs
Labels: c/wl, enhancement

#178 Contribution guides
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  documentation/articles/contributing-workflow.md
  documentation/articles/contributing.md
  documentation/articles/developer-guide.md
Labels: enhancement
