Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2019-12, with the labels that each got.

#223 make nibName virtual
  Softeq.XToolkit.WhiteLabel.iOS/Controls/CustomViewBase.cs
Labels: c/wl, enhancement

#224 Push Notifications: Rework Unregister method a bit to allow unregiste…
  Softeq.XToolkit.PushNotifications/IPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications/PushNotificationsServiceBase.cs
  Softeq.XToolkit.PushNotifications/PushNotificationsUnregisterOptions.cs
Labels: c/push-notifications

#218 Add Nullable support for Push Notifications
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationParser.cs
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationActionsHelper.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationChannelsHelper.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationsHelper.cs
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.PushNotifications.iOS/IosPushNotificationParser.cs
  Softeq.XToolkit.PushNotifications.iOS/NSDictionaryExtensions.cs
  Softeq.XToolkit.PushNotifications.iOS/Softeq.XToolkit.PushNotifications.iOS.csproj
  Softeq.XToolkit.PushNotifications.iOS/UserNotificationCenterDelegate.cs
  Softeq.XToolkit.PushNotifications/PushNotificationModel.cs
  Softeq.XToolkit.PushNotifications/PushNotificationsServiceBase.cs
  Softeq.XToolkit.PushNotifications/Softeq.XToolkit.PushNotifications.csproj
Labels: c/push-notifications

#225 Feature/bi dictionary
  Softeq.XToolkit.Common.Tests/Collections/BiDictionaryTests/BiDictionaryHelper.cs
  Softeq.XToolkit.Common.Tests/Collections/BiDictionaryTests/BiDictionaryTests.cs
  Softeq.XToolkit.Common.Tests/Collections/BiDictionaryTests/CollectionInterfaceTests.cs
  Softeq.XToolkit.Common.Tests/Collections/BiDictionaryTests/DictionaryInterfaceTests.cs
  Softeq.XToolkit.Common/Collections/BiDictionary.cs
Labels: c/common, enhancement
