Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2020-09, with the labels that each got.

#350 Tests for ObservableItemContentRangeCollection
  Softeq.XToolkit.Common.Tests/Collections/ObservableItemContentRangeCollectionTests/ObservableItemContentRangeCollectionDataProvider.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableItemContentRangeCollectionTests/ObservableItemContentRangeCollectionTests.cs
  Softeq.XToolkit.Common.Tests/ObservableObjectTests/ObservableObjectTests.cs
  Softeq.XToolkit.Common.Tests/ObservableObjectTests/Utils/CustomAsserts.cs
  Softeq.XToolkit.Common/Collections/ObservableItemContentRangeCollection.cs
Labels: c/common

#349 Add UIColorExtensions tests
  Softeq.XToolkit.Common.iOS.Tests/Extensions/UIColorExtensionsTests/UIColorExtensionsTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Softeq.XToolkit.Common.iOS.Tests.csproj
  Softeq.XToolkit.Common.iOS/Extensions/UIColorExtensions.cs
Labels: c/common, p/iOS

#352 Add AttributedStringHelper tests
  Softeq.XToolkit.Common.iOS.Tests/Extensions/NsStringExtensions/NsStringExtensionsTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Softeq.XToolkit.Common.iOS.Tests.csproj
  Softeq.XToolkit.Common.iOS/Extensions/NsStringExtensions.cs
  Softeq.XToolkit.Common.iOS/Helpers/AttributedStringHelper.cs
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
Labels: c/common, p/iOS

#348 Refactor Androidx nugets
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Bindings.Tests/Softeq.XToolkit.Bindings.Tests.csproj
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  documentation/articles/configure-android.md
  nuget/Softeq.XToolkit.Bindings.nuspec
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Essentials.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
  samples/Playground/Playground.Droid/Playground.Droid.csproj
Labels: c/bindings, c/push-notifications, c/wl, c/wl.essentials, p/Android

#353 Add NsLocaleExtensions tests
  Softeq.XToolkit.Common.iOS.Tests/Extensions/NsLocaleExtensionsTests/NsLocaleExtensionsTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Softeq.XToolkit.Common.iOS.Tests.csproj
  Softeq.XToolkit.Common.iOS/Extensions/NsLocaleExtensions.cs
  Softeq.XToolkit.Common.iOS/Helpers/LocaleHelper.cs
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Helpers/AvatarImageHelpers.cs
Labels: c/common, p/iOS

#355 Rename extensions
  Softeq.XToolkit.Common.iOS.Tests/Extensions/NSLocaleExtensionsTests/NSLocaleExtensionsTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Extensions/NSRangeExtensionsTests/NSRangeExtensionsTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Extensions/NSStringExtensions/NSStringExtensionsTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Softeq.XToolkit.Common.iOS.Tests.csproj
  Softeq.XToolkit.Common.iOS/Extensions/NSLocaleExtensions.cs
  Softeq.XToolkit.Common.iOS/Extensions/NSRangeExtensions.cs
  Softeq.XToolkit.Common.iOS/Extensions/NSStringExtensions.cs
  Softeq.XToolkit.Common.iOS/Extensions/UiViewControllerExtensions.cs
  Softeq.XToolkit.Common.iOS/Helpers/AttributedStringHelper.cs
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
Labels: c/common, p/iOS

#354 Feature/observable range collection tests
  Softeq.XToolkit.Common.Tests/Collections/ObservableItemContentRangeCollectionTests/ObservableItemContentRangeCollectionDataProvider.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableItemContentRangeCollectionTests/ObservableItemContentRangeCollectionTests.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableRangeCollectionTests/ObservableRangeCollectionDataProvider.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableRangeCollectionTests/ObservableRangeCollectionTests.cs
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common/Collections/ObservableItemContentRangeCollection.cs
  Softeq.XToolkit.Common/Collections/ObservableRangeCollection.cs
Labels: c/common

#356 make bottom navigation fragment container id virtual
  Softeq.XToolkit.WhiteLabel.Droid/ViewComponents/BottomNavigationComponentBase.cs
Labels: c/wl, p/Android

#357 Add Common Android tests runner project
  Softeq.XToolkit.Common.Droid.Tests/Assets/xunit.runner.json
  Softeq.XToolkit.Common.Droid.Tests/Extensions/Class1.cs
  Softeq.XToolkit.Common.Droid.Tests/MainActivity.cs
  Softeq.XToolkit.Common.Droid.Tests/Properties/AndroidManifest.xml
  Softeq.XToolkit.Common.Droid.Tests/Properties/AssemblyInfo.cs
  Softeq.XToolkit.Common.Droid.Tests/Resources/mipmap-mdpi/ic_launcher.png
  Softeq.XToolkit.Common.Droid.Tests/Resources/mipmap-xhdpi/ic_launcher.png
  Softeq.XToolkit.Common.Droid.Tests/Resources/mipmap-xxhdpi/ic_launcher.png
  Softeq.XToolkit.Common.Droid.Tests/Resources/mipmap-xxxhdpi/ic_launcher.png
  Softeq.XToolkit.Common.Droid.Tests/Resources/values/strings.xml
  Softeq.XToolkit.Common.Droid.Tests/Softeq.XToolkit.Common.Droid.Tests.csproj
  XToolkit.sln
Labels: p/Android

#360 Improve compatibility
  Softeq.XToolkit.WhiteLabel.iOS/AppDelegateBase.cs
  samples/Playground/Playground.Droid/CustomDroidBootstrapper.cs
  samples/Playground/Playground.iOS/CustomIosBootstrapper.cs
  samples/Playground/Playground.iOS/ViewControllers/Collections/CompositionalLayoutPageViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Components/GesturesPageStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Components/GesturesPageViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Pages/DetailsPageStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/StartPageViewController.cs
  samples/Playground/Playground/ViewModels/MainPageViewModel.cs
Labels: c/playground, c/wl, p/iOS

#362 Documentation fixes for different collections and other fixes
  Softeq.XToolkit.Common.Droid.Tests/Properties/AndroidManifest.xml
  Softeq.XToolkit.Common.Tests/Collections/ObservableRangeCollectionTests/ObservableRangeCollectionTests.cs
  Softeq.XToolkit.Common.Tests/FilesProviderTests.cs
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common.iOS/Extensions/NSDateExtensions.cs
  Softeq.XToolkit.Common/Collections/BiDictionary.cs
  Softeq.XToolkit.Common/Collections/IObservableKeyGroupsCollection.cs
  Softeq.XToolkit.Common/Collections/ObservableItemContentRangeCollection.cs
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollection.cs
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollectionNew.cs
  Softeq.XToolkit.Common/Collections/ObservableRangeCollection.cs
  samples/Playground.Forms/Playground.Forms.Droid/Properties/AndroidManifest.xml
Labels: c/common

#363 Improve/documentation
  Softeq.XToolkit.Bindings.Droid/ObservableAdapter.cs
  Softeq.XToolkit.Bindings.iOS/ObservableCollectionViewSource.cs
  Softeq.XToolkit.Bindings.iOS/ObservableTableViewController.cs
  Softeq.XToolkit.Bindings.iOS/ObservableTableViewSource.cs
  Softeq.XToolkit.Common.Droid/Extensions/EditTextExtensions.cs
  Softeq.XToolkit.Common.Droid/Extensions/ViewExtensions.cs
  Softeq.XToolkit.Common.iOS/Extensions/NSStringExtensions.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationIntentActivityInfo.cs
  Softeq.XToolkit.PushNotifications/IPushNotificationsService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Extensions/ViewExtensions.cs
  azure-pipelines/Documentation.yml
  documentation/toc.yml
Labels: CI/CD, c/bindings, c/push-notifications, documentation, p/Android, p/iOS

#358 Feature/fix fragment restoring
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/FragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/ViewModelStore.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/ViewModelStoreFragment.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  samples/Playground/Playground.Droid/CustomDroidBootstrapper.cs
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.Droid/Resources/layout/activity_frames.xml
  samples/Playground/Playground.Droid/Resources/layout/fragment_split.xml
  samples/Playground/Playground.Droid/Resources/layout/fragment_with_navigation.xml
  samples/Playground/Playground.Droid/Views/Frames/BlueFragment.cs
  samples/Playground/Playground.Droid/Views/Frames/FramesActivity.cs
  samples/Playground/Playground.Droid/Views/Frames/RedFragment.cs
  samples/Playground/Playground.Droid/Views/Frames/SplitFrameFragment.cs
  samples/Playground/Playground.Droid/Views/Frames/YellowFragment.cs
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesBlueStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesBlueViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesBlueViewController.designer.cs
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesRedStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesRedViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesRedViewController.designer.cs
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesViewController.designer.cs
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesYellowStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesYellowViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Frames/FramesYellowViewController.designer.cs
  samples/Playground/Playground.iOS/ViewControllers/Frames/SplitFrameStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Frames/SplitFrameViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Frames/SplitFrameViewController.designer.cs
  samples/Playground/Playground/CustomBootstrapper.cs
  samples/Playground/Playground/ViewModels/Frames/BlueViewModel.cs
  samples/Playground/Playground/ViewModels/Frames/FramesViewModel.cs
  samples/Playground/Playground/ViewModels/Frames/RedViewModel.cs
  samples/Playground/Playground/ViewModels/Frames/SplitFrameViewModel.cs
  samples/Playground/Playground/ViewModels/Frames/TopShellViewModel.cs
  samples/Playground/Playground/ViewModels/Frames/YellowViewModel.cs
  samples/Playground/Playground/ViewModels/MainPageViewModel.cs
Labels: c/wl, p/Android

#365 Rework file provider tests
  Softeq.XToolkit.Common.Tests/Files/BaseFileProviderTests/BaseFileProviderTests.cs
  Softeq.XToolkit.Common.Tests/Files/BaseFileProviderTests/MockFileSystemWrapper.cs
  Softeq.XToolkit.Common/Files/Abstractions/IDirectory.cs
  Softeq.XToolkit.Common/Files/Abstractions/IFile.cs
  Softeq.XToolkit.Common/Files/Abstractions/IFileSystem.cs
  Softeq.XToolkit.Common/Files/BaseFileProvider.cs
  Softeq.XToolkit.Common/Files/InternalStorageFileProvider.cs
  Softeq.XToolkit.Common/Softeq.XToolkit.Common.csproj
Labels: c/common

#337 Rework file provider for testing
  Softeq.XToolkit.Common.Tests/Files/BaseFileProviderTests/BaseFileProviderTests.cs
  Softeq.XToolkit.Common.Tests/Files/BaseFileProviderTests/MockFileSystemWrapper.cs
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common/Files/Abstractions/IDirectory.cs
  Softeq.XToolkit.Common/Files/Abstractions/IFile.cs
  Softeq.XToolkit.Common/Files/Abstractions/IFileSystem.cs
  Softeq.XToolkit.Common/Files/BaseFileProvider.cs
  Softeq.XToolkit.Common/Files/IFileProvider.cs
  Softeq.XToolkit.Common/Files/IFilesProvider.cs
  Softeq.XToolkit.Common/Files/InternalStorageFileProvider.cs
  Softeq.XToolkit.Common/Files/InternalStorageProvider.cs
  Softeq.XToolkit.Common/Files/ResourceFileProvider.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/ImagePicker.cs
  Softeq.XToolkit.WhiteLabel/Dependencies.cs
Labels: c/common, c/wl

#367 Documentation improvements
  Softeq.XToolkit.Common.Droid/Converters/BoolToViewStateConverter.cs
  Softeq.XToolkit.Common.Droid/Converters/GoneConverter.cs
  Softeq.XToolkit.Common.Droid/Extensions/ContextExtensions.cs
  Softeq.XToolkit.Common.Droid/Extensions/EditTextExtensions.cs
  Softeq.XToolkit.Common.Droid/Extensions/IntentExtensions.cs
  Softeq.XToolkit.Common.Droid/Extensions/StringExtensions.cs
  Softeq.XToolkit.Common.Droid/Extensions/TextViewExtensions.cs
  Softeq.XToolkit.Common.Droid/Extensions/ViewExtensions.cs
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.Common/Converters/IConverter.cs
  Softeq.XToolkit.Common/Extensions/AssemblyExtensions.cs
  Softeq.XToolkit.Common/Extensions/DateTimeExtensions.cs
  Softeq.XToolkit.Common/Extensions/DictionaryExtensions.cs
  Softeq.XToolkit.Common/Extensions/EnumExtensions.cs
  Softeq.XToolkit.Common/Extensions/EnumerableExtensions.cs
  Softeq.XToolkit.Common/Extensions/ObservableCollectionExtensions.cs
  Softeq.XToolkit.Common/Extensions/StreamExtensions.cs
  Softeq.XToolkit.Common/Extensions/StringExtensions.cs
  Softeq.XToolkit.Common/Extensions/TaskExtensions.cs
Labels: c/common, p/Android

#368 Feature/observable key groups collection new fix
  Softeq.XToolkit.Bindings.Droid/Handlers/DroidRecyclerObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings.iOS/Handlers/IosCollectionObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings.iOS/Handlers/IosTableObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings/Handlers/ObservableKeyGroupCollectionHandlerBase.cs
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollectionNew.cs
Labels: c/bindings, c/common

#366 Rework uitextfield/view extensions
  Softeq.XToolkit.Common.iOS.Tests/Extensions/UITextViewExtensionsTests/UITextViewExtensionsTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Helpers.cs
  Softeq.XToolkit.Common.iOS.Tests/Softeq.XToolkit.Common.iOS.Tests.csproj
  Softeq.XToolkit.Common.iOS.Tests/TextFilters/ForbiddenCharsFilterTests/ForbiddenCharsFilterTests.cs
  Softeq.XToolkit.Common.iOS.Tests/TextFilters/GroupFilterTests/GroupFilterTests.cs
  Softeq.XToolkit.Common.iOS.Tests/TextFilters/GroupFilterTests/MockTextFilter.cs
  Softeq.XToolkit.Common.iOS.Tests/TextFilters/LengthFilterTests/LengthFilterTests.cs
  Softeq.XToolkit.Common.iOS/Controls/LengthValidator.cs
  Softeq.XToolkit.Common.iOS/Controls/TextFieldWithoutPaste.cs
  Softeq.XToolkit.Common.iOS/Extensions/UITextFieldExtensions.cs
  Softeq.XToolkit.Common.iOS/Extensions/UITextViewExtensions.cs
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
  Softeq.XToolkit.Common.iOS/TextFilters/ForbiddenCharsFilter.cs
  Softeq.XToolkit.Common.iOS/TextFilters/GroupFilter.cs
  Softeq.XToolkit.Common.iOS/TextFilters/ITextFilter.cs
  Softeq.XToolkit.Common.iOS/TextFilters/LengthFilter.cs
Labels: c/common, p/iOS

#369 Improve docs
  Softeq.XToolkit.Common.iOS/Extensions/UIViewControllerExtensions.cs
  Softeq.XToolkit.Common.iOS/Extensions/UIViewExtensions.cs
  documentation/articles/xtoolkit/bindings/collections.md
  samples/Playground/Playground.Droid/Views/Collections/GroupedTablePageActivity.cs
Labels: c/common, documentation, p/iOS

#370 Add ContextExtensions tests
  Softeq.XToolkit.Common.Droid.Tests/Extensions/Class1.cs
  Softeq.XToolkit.Common.Droid.Tests/Extensions/ContextExtensionsTests/ContextExtensionsTests.cs
  Softeq.XToolkit.Common.Droid.Tests/MainActivity.cs
  Softeq.XToolkit.Common.Droid.Tests/Softeq.XToolkit.Common.Droid.Tests.csproj
  Softeq.XToolkit.Common.Droid/Extensions/ContextExtensions.cs
  Softeq.XToolkit.Common.Droid/Extensions/IntentExtensions.cs
  Softeq.XToolkit.Common.Droid/Helpers/LocaleHelper.cs
  Softeq.XToolkit.Common.Droid/Permissions/IPermissionRequestHandler.cs
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Controls/AvatarPlaceholderDrawable.cs
Labels: c/common, p/Android

#371 StringExtensions tests (Droid)
  Softeq.XToolkit.Common.Droid.Tests/Extensions/StringExtensionsTests/StringExtensionsDataProvider.cs
  Softeq.XToolkit.Common.Droid.Tests/Extensions/StringExtensionsTests/StringExtensionsTests.cs
  Softeq.XToolkit.Common.Droid.Tests/Softeq.XToolkit.Common.Droid.Tests.csproj
  Softeq.XToolkit.Common.Droid/Converters/BoolToViewStateConverter.cs
  Softeq.XToolkit.Common.Droid/Converters/GoneConverter.cs
  Softeq.XToolkit.Common.Droid/Extensions/StringExtensions.cs
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Controls/BadgeView.cs
Labels: c/common, p/Android

#377 Android: add property to set up custom animation for dialogs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.Droid/Resources/anim/slide_down_dialog.xml
  samples/Playground/Playground.Droid/Resources/anim/slide_up_dialog.xml
  samples/Playground/Playground.Droid/Resources/values/styles.xml
  samples/Playground/Playground.Droid/Views/Dialogs/SimpleDialogPageFragment.cs
Labels: c/playground, c/wl, p/Android

#376 Improve links detection
  Softeq.XToolkit.Common.Tests/Extensions/StringExtensionsTests/StringExtensionsTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Extensions/NSStringExtensions/NSStringExtensionsTests.cs
  Softeq.XToolkit.Common.iOS/Extensions/NSStringExtensions.cs
  Softeq.XToolkit.Common/Extensions/StringExtensions.cs
Labels: c/common, p/iOS

#372 Rework MainThread methods
  Softeq.XToolkit.Bindings.Droid/DroidBindingFactory.cs
  Softeq.XToolkit.Common.Droid.Tests/DroidMainThreadExecutorTests/DroidMainThreadExecutorTests.cs
  Softeq.XToolkit.Common.Droid.Tests/Helpers.cs
  Softeq.XToolkit.Common.Droid.Tests/Softeq.XToolkit.Common.Droid.Tests.csproj
  Softeq.XToolkit.Common.Droid/DroidMainThreadExecutor.cs
  Softeq.XToolkit.Common.Droid/Extensions/ViewExtensions.cs
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.Common.Tests/Threading/ExecuteTests.cs
  Softeq.XToolkit.Common.Tests/Threading/MainThreadExecutorBaseTests/MainThreadExecutorBaseTests.cs
  Softeq.XToolkit.Common.Tests/Threading/MainThreadExecutorBaseTests/TestMainThreadExecutor.cs
  Softeq.XToolkit.Common.Tests/Threading/TaskDeferralTests.cs
  Softeq.XToolkit.Common.iOS.Tests/IosMainThreadExecutorTests/IosMainThreadExecutorTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Softeq.XToolkit.Common.iOS.Tests.csproj
  Softeq.XToolkit.Common.iOS/IosMainThreadExecutor.cs
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
  Softeq.XToolkit.Common/Threading/Execute.cs
  Softeq.XToolkit.Common/Threading/IMainThreadExecutor.cs
  Softeq.XToolkit.Common/Threading/MainThreadExecutorBase.cs
  Softeq.XToolkit.Common/Threading/TaskDeferral.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DefaultAlertBuilder.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidActionSheetDialog.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidAlertDialog.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidConfirmDialog.cs
  Softeq.XToolkit.WhiteLabel.Droid/MainApplicationBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/ActivityPageNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/FrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Providers/DroidPlatformProvider.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/DroidToastService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/ImagePicker.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/ImagePicker.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/SimpleImagePicker.cs
  Softeq.XToolkit.WhiteLabel.Forms/FormsApp.cs
  Softeq.XToolkit.WhiteLabel.Forms/FormsMainThreadExecutor.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsDialogsService.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsNavigationService.cs
  Softeq.XToolkit.WhiteLabel.iOS/AppDelegateBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Dialogs/AlertViewControllerBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Helpers/ViewControllerHelper.cs
  Softeq.XToolkit.WhiteLabel.iOS/IosPlatformProvider.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardNavigation.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardDialogsService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Extensions/TaskExtensions.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/ViewModelWithPagingBase.cs
  Softeq.XToolkit.WhiteLabel/Threading/Execute.cs
  Softeq.XToolkit.WhiteLabel/Threading/PlatformProvider.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/PaginationViewModelBase.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/Components/AsyncCommandsPageViewModel.cs
  samples/Playground/Playground.Droid/Extended/DroidChooseBetterDateDialog.cs
  samples/Playground/Playground/ViewModels/Components/ConnectivityPageViewModel.cs
  samples/Playground/Playground/ViewModels/Components/PermissionViewModel.cs
  samples/Playground/Playground/ViewModels/Controls/PhotoBrowserViewModel.cs
Labels: c/bindings, c/common, c/wl, c/wl.essentials, c/wl.forms, p/Android, p/iOS

#378 Improve/playground & droid tests
  Softeq.XToolkit.Common.Droid.Tests/MainActivity.cs
  Softeq.XToolkit.Common.Droid.Tests/Properties/AndroidManifest.xml
  Softeq.XToolkit.Common.Droid.Tests/TextFilters/ForbiddenCharsInputFilterTests.cs
  samples/Playground/Playground.Droid/Resources/layout/activity_dialogs.xml
  samples/Playground/Playground.Droid/Views/MainPageActivity.cs
Labels: c/playground

#379 Validation rules tests
  Softeq.XToolkit.WhiteLabel.Tests/Location/LocationModelTests/LocationModelTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Validation/Rules/EmailRuleTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Validation/Rules/IsValueTrueRuleTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Validation/Rules/StringLengthRuleTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Validation/Rules/StringNotEmptyRuleTests.cs
  Softeq.XToolkit.WhiteLabel/Location/LocationModel.cs
  Softeq.XToolkit.WhiteLabel/Validation/IValidationRule.cs
  Softeq.XToolkit.WhiteLabel/Validation/Rules/EmailRule.cs
  Softeq.XToolkit.WhiteLabel/Validation/Rules/IsValueTrueRule.cs
  Softeq.XToolkit.WhiteLabel/Validation/Rules/StringLengthRule.cs
  Softeq.XToolkit.WhiteLabel/Validation/Rules/StringNotEmptyRule.cs
  Softeq.XToolkit.Whitelabel.Tests/Softeq.XToolkit.Whitelabel.Tests.csproj
Labels: c/wl

#380 Make BackPressedCallback public
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/BackPressedCallback.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Views/ToolbarFragmentBase.cs
Labels: c/wl, p/Android

#382 Feature/property info model tests
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/BundleService.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/PageNavigationServiceTests/PageNavigationServiceTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/PropertyInfoModelTests/PropertyInfoModelDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/PropertyInfoModelTests/PropertyInfoModelTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/PropertyInfoModelTests/TestClass.cs
  Softeq.XToolkit.WhiteLabel/Messenger/Messenger.cs
  Softeq.XToolkit.WhiteLabel/Navigation/FluentNavigators/FluentNavigatorBase.cs
  Softeq.XToolkit.WhiteLabel/Navigation/FluentNavigators/FluentNavigatorExtensions.cs
  Softeq.XToolkit.WhiteLabel/Navigation/PropertyInfoModel.cs
  Softeq.XToolkit.WhiteLabel/Navigation/PropertyNotFoundException.cs
Labels: c/wl
