Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2020-04, with the labels that each got.

#286 Update DocFX package
  documentation/Softeq.XToolkit.Documentation.csproj
Labels: documentation

#287 Constraint of SetCommand methods for TEventArgs
  Softeq.XToolkit.Bindings.Tests/AssertHelpers.cs
  Softeq.XToolkit.Bindings.Tests/BindingExtensionsTests/BindingExtensionsTests.cs
  Softeq.XToolkit.Bindings/BindingExtensions.cs
Labels: bug, c/bindings

#285 Add StyleCop
  .editorconfig
  .gitignore
  CodeStyles.targets
  Directory.Build.props
  README.md
  Softeq.XToolkit.Common/Collections/ObservableRangeCollection.cs
  Softeq.XToolkit.Common/ObservableObject.cs
  Softeq.XToolkit.WhiteLabel.Droid/Controls/AvatarPlaceholderDrawable.cs
  Softeq.XToolkit.WhiteLabel.Droid/Controls/BadgeView.cs
  Softeq.XToolkit.WhiteLabel.Droid/Controls/NonConsumingTouchesToolbar.cs
  Softeq.XToolkit.WhiteLabel.Droid/Controls/ObservableStackView.cs
  Softeq.XToolkit.WhiteLabel.Tests/Bootstrapper/DefaultViewModelFinderTests/TypeStubs.cs
  Softeq.XToolkit.WhiteLabel.Tests/GlobalSuppressions.cs
  Softeq.XToolkit.WhiteLabel.Tests/PageNavigationServiceTests.cs
  XToolkit.ruleset
  documentation/articles/contributing.md
  samples/Playground.Forms/Playground.Forms.Droid/MainActivity.cs
  samples/Playground.Forms/Playground.Forms/App.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/DialogsRootPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MainPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DetailPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/MasterPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/SelectedItemPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/SecondPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/StartPage.xaml.cs
  samples/Playground/Playground.iOS/AppDelegate.cs
  samples/Playground/Playground.iOS/ViewControllers/BottomTabs/Second/GreenViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Collections/TablePageViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Components/PermissionsPageViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/MainPageViewController.cs
  samples/Playground/Playground.iOS/Views/Table/GroupedTableFooterView.cs
  stylecop.json
Labels: enhancement

#290 Feature/extensions refactoring
  Softeq.XToolkit.Common/Extensions/DateTimeExtensions.cs
  Softeq.XToolkit.Common/Extensions/DictionaryExtensions.cs
  Softeq.XToolkit.Common/Extensions/EnumerableExtensions.cs
  Softeq.XToolkit.Common/Extensions/InternalSettingsExtensions.cs
  Softeq.XToolkit.Common/Extensions/ListExtensions.cs
  Softeq.XToolkit.Common/Extensions/StreamExtensions.cs
  Softeq.XToolkit.Common/Extensions/StringExtensions.cs
  Softeq.XToolkit.Common/Extensions/TaskExtensions.cs
  Softeq.XToolkit.Common/Extensions/TypeExtensions.cs
Labels: c/common

#292 Feature/forms generic root frame navigation
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsDialogsService.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsPageNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsViewLocator.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/RootFrameNavigationPage.cs
  Softeq.XToolkit.WhiteLabel.Forms/Softeq.XToolkit.WhiteLabel.Forms.csproj
  Softeq.XToolkit.WhiteLabel/Mvvm/RootFrameNavigationPageViewModel.cs
  samples/Playground.Forms/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/CoreBootstrapper.cs
  samples/Playground.Forms/Playground.Forms/Playground.Forms.csproj
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/DrillNavigation/DrillRootPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/MasterDetailViewModelFactory.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DrillNavigation/DrillRootPage.cs
Labels: ei/xamarin.forms

#289 Weak delegates refactoring
  Softeq.XToolkit.Common.Tests/Helpers/CommonTestClass.cs
  Softeq.XToolkit.Common.Tests/Helpers/InternalTestClass.cs
  Softeq.XToolkit.Common.Tests/Helpers/InternalTestClassGeneric.cs
  Softeq.XToolkit.Common.Tests/Helpers/InternalTestClassGenericWithResult.cs
  Softeq.XToolkit.Common.Tests/Helpers/InternalTestClassWithResult.cs
  Softeq.XToolkit.Common.Tests/Helpers/PublicTestClass.cs
  Softeq.XToolkit.Common.Tests/Helpers/PublicTestClassGeneric.cs
  Softeq.XToolkit.Common.Tests/Helpers/PublicTestClassGenericWithResult.cs
  Softeq.XToolkit.Common.Tests/Helpers/PublicTestClassWithResult.cs
  Softeq.XToolkit.Common.Tests/Helpers/WeakActionTestCase.cs
  Softeq.XToolkit.Common.Tests/WeakTests/Utils/ICallCounter.cs
  Softeq.XToolkit.Common.Tests/WeakTests/Utils/StaticWeakDelegatesCallCounter.cs
  Softeq.XToolkit.Common.Tests/WeakTests/Utils/WeakDelegateCreator.cs
  Softeq.XToolkit.Common.Tests/WeakTests/Utils/WeakDelegatesCallCounter.cs
  Softeq.XToolkit.Common.Tests/WeakTests/Utils/WeakDelegatesTestsDataProvider.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionGenericNestedTest.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionGenericTest.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionNestedTest.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionTest.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionTests/WeakAnonymousActionWithInstanceReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionTests/WeakAnonymousActionWithLocalReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionTests/WeakAnonymousActionWithStaticReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionTests/WeakAnonymousActionWithoutReferencesTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionTests/WeakInstanceActionTests.WithCustomTarget.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionTests/WeakInstanceActionTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionTests/WeakStaticActionTests.WithCustomTarget.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakActionTests/WeakStaticActionTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncGenericNestedTest.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncGenericTest.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncNestedTest.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncTest.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncTests/WeakAnonymousFuncWithInstanceReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncTests/WeakAnonymousFuncWithLocalReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncTests/WeakAnonymousFuncWithStaticReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncTests/WeakAnonymousFuncWithoutReferencesTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncTests/WeakInstanceFuncTests.WithCustomTarget.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncTests/WeakInstanceFuncTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncTests/WeakStaticFuncTests.WithCustomTarget.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakFuncTests/WeakStaticFuncTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericActionTests/WeakGenericAnonymousActionWithInstanceReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericActionTests/WeakGenericAnonymousActionWithLocalReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericActionTests/WeakGenericAnonymousActionWithStaticReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericActionTests/WeakGenericAnonymousActionWithoutReferencesTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericActionTests/WeakGenericInstanceActionTests.WithCustomTarget.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericActionTests/WeakGenericInstanceActionTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericActionTests/WeakGenericStaticActionTests.WithCustomTarget.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericActionTests/WeakGenericStaticActionTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericFuncTests/WeakGenericAnonymousFuncWithInstanceReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericFuncTests/WeakGenericAnonymousFuncWithLocalReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericFuncTests/WeakGenericAnonymousFuncWithStaticReferenceTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericFuncTests/WeakGenericAnonymousFuncWithoutReferencesTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericFuncTests/WeakGenericInstanceFuncTests.WithCustomTarget.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericFuncTests/WeakGenericInstanceFuncTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericFuncTests/WeakGenericStaticFuncTests.WithCustomTarget.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakGenericFuncTests/WeakGenericStaticFuncTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakReferenceExTest.cs
  Softeq.XToolkit.Common/Weak/WeakAction.cs
  Softeq.XToolkit.Common/Weak/WeakDelegate.cs
  Softeq.XToolkit.Common/Weak/WeakFunc.cs
  Softeq.XToolkit.WhiteLabel/Messenger/Messenger.cs
Labels: c/common

#291 Add some converters and controls to WhiteLabel.Forms
  Softeq.XToolkit.WhiteLabel.Forms/Controls/FormsModalPage.cs
  Softeq.XToolkit.WhiteLabel.Forms/Controls/ToggleButton.cs
  Softeq.XToolkit.WhiteLabel.Forms/Converters/BooleanInverseConverter.cs
  Softeq.XToolkit.WhiteLabel.Forms/Converters/EqualityToBooleanConverter.cs
  Softeq.XToolkit.WhiteLabel.Forms/Converters/IsNumberZeroConverter.cs
  Softeq.XToolkit.WhiteLabel.Forms/Converters/MultiplyConverter.cs
  Softeq.XToolkit.WhiteLabel.Forms/Converters/StringToLowerConverter.cs
  Softeq.XToolkit.WhiteLabel.Forms/Converters/StringToUpperConverter.cs
Labels: ei/xamarin.forms

#294 Remove dependency on Permissions for WhiteLabel
  Softeq.XToolkit.Common.Tests/Extensions/TaskExtensionsTests/TaskExtensionsTests.cs
  Softeq.XToolkit.WhiteLabel.Droid/Providers/ExternalStorageProvider.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
Labels: c/wl

#295 New beta version 6
  README.md
  azure-pipelines/nuget-Softeq.XToolkit.WhiteLabel.Essentials.yml
  azure-pipelines/nuget-Softeq.XToolkit.WhiteLabel.Forms.yml
  documentation/articles/developer-guide.md
  documentation/articles/intro.md
  nuget/Softeq.XToolkit.Bindings.nuspec
  nuget/Softeq.XToolkit.Common.nuspec
  nuget/Softeq.XToolkit.Permissions.nuspec
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.Remote.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Essentials.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Essentials.sln
  nuget/Softeq.XToolkit.WhiteLabel.Forms.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Forms.sln
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
Labels: CI/CD, c/bindings, c/common, c/permissions, c/playground, c/wl, documentation, ei/xamarin.forms

#296 add setcommand getsturebehavior extension
  Softeq.XToolkit.Bindings.iOS/Bindable/Abstract/BindableExtensions.cs
Labels: c/bindings

#298 Add tests for resolving async command ctors
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandGenericTests.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandTests.cs
  Softeq.XToolkit.Common/Commands/AsyncCommand.cs
  Softeq.XToolkit.Common/Commands/AsyncCommandGeneric.cs
Labels: c/common

#300 Playground sample: iOS13 Compositional Layout
  Softeq.XToolkit.Common/Extensions/EnumExtensions.cs
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground.iOS/ViewControllers/Collections/CompositionalLayout/AdaptiveSectionsViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Collections/CompositionalLayout/NSUtils.cs
  samples/Playground/Playground.iOS/ViewControllers/Collections/CompositionalLayout/NestedGroupsViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Collections/CompositionalLayoutPageStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Collections/CompositionalLayoutPageViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Collections/CompositionalLayoutPageViewController.designer.cs
  samples/Playground/Playground.iOS/ViewControllers/Collections/GroupedListPageViewController.cs
  samples/Playground/Playground.iOS/Views/Collections/DummyCell.cs
  samples/Playground/Playground.iOS/Views/Collections/DummyCell.designer.cs
  samples/Playground/Playground.iOS/Views/Collections/DummyCell.xib
  samples/Playground/Playground.iOS/Views/Table/GroupedTableHeaderView.cs
  samples/Playground/Playground/ViewModels/Collections/CompositionalLayoutPageViewModel.cs
  samples/Playground/Playground/ViewModels/MainPageViewModel.cs
Labels: c/common, c/playground

#301 Documentation/connectivity
  azure-pipelines/Documentation.yml
  azure-pipelines/XToolkit.yml
  documentation/articles/xtoolkit/connectivity.md
  documentation/articles/xtoolkit/overview.md
  samples/Playground/Playground/ViewModels/Components/ConnectivityPageViewModel.cs
Labels: CI/CD, c/playground, documentation

#302 Documentation/mvvm
  documentation/articles/toc.yml
  documentation/articles/xtoolkit/whitelabel.md
  documentation/articles/xtoolkit/whitelabel/mvvm.md
Labels: documentation

#304 Improve/connectivity
  Softeq.XToolkit.Connectivity.iOS/IosConnectivityService.cs
  documentation/articles/toc.yml
  documentation/articles/xtoolkit/connectivity.md
Labels: c/connectivity, documentation, p/iOS
