Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2020-08, with the labels that each got.

#324 Refactor common dictionary extensions
  Softeq.XToolkit.Common.Tests/Extensions/DictionaryExtensionsTests/DictionaryExtensionsTests.cs
  Softeq.XToolkit.Common/Extensions/DictionaryExtensions.cs
  Softeq.XToolkit.WhiteLabel/AssemblySource.cs
Labels: c/common

#319 Add custom borders with support AutoLayout
  Softeq.XToolkit.Common.iOS/Extensions/UIViewExtensions.cs
Labels: c/common, enhancement, p/iOS

#326 Use custom FragmentManager for FrameNavigationService
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/FrameNavigationConfig.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/ViewComponents/BottomNavigationComponentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/ViewComponents/ToolbarComponent.cs
  samples/Playground/Playground.Droid/Views/BottomTabs/BottomTabsPageActivity.cs
Labels: c/wl, p/Android

#329 Feature/extensions tests
  Softeq.XToolkit.Common.Tests/Extensions/DateTimeExtensionsTests/DateTimeExtensionsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Extensions/DateTimeExtensionsTests/DateTimeExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/DictionaryExtensionsTests/DictionaryExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/EnumExtensionsTests/EnumExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/EnumerableExtensionsTests/EnumerableExtensionsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Extensions/EnumerableExtensionsTests/EnumerableExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/ListExtensionsTests/ListExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/StreamExtensionsTests/StreamExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/StringExtensionsTests/StringExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Helpers/TextRangeTests/TextRangeTests.cs
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common/Extensions/DateTimeExtensions.cs
  Softeq.XToolkit.Common/Extensions/EnumerableExtensions.cs
Labels: c/common

#331 Add unit tests for EnumExtensions and update some of its methods
  Softeq.XToolkit.Common.Tests/CommonTestClass.cs
  Softeq.XToolkit.Common.Tests/Extensions/EnumExtensionsTests/EnumExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/EnumExtensionsTests/TestEnum.cs
  Softeq.XToolkit.Common.Tests/Extensions/EnumExtensionsTests/TestFlagsEnum.cs
  Softeq.XToolkit.Common.Tests/WeakTests/WeakReferenceExTest.cs
  Softeq.XToolkit.Common/Extensions/EnumExtensions.cs
Labels: c/common

#334 Feature/fix toolbar initialization
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/FragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/ViewComponents/BottomNavigationComponentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/ViewComponents/ToolbarComponent.cs
  Softeq.XToolkit.WhiteLabel.Droid/Views/BottomNavigationFragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Views/ToolbarActivityBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Views/ToolbarFragmentBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/DialogViewModelComponent.cs
Labels: c/wl, p/Android

#335 Delete TypeExtensions
  Softeq.XToolkit.Common.Tests/ExtensionsTest.cs
  Softeq.XToolkit.Common/Extensions/TypeExtensions.cs
Labels: c/common

#336 Fix casting issue
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
Labels: c/wl, p/Android

#333 Add tests for Common.Disposables
  Softeq.XToolkit.Common.Tests/Disposables/DisposableTests.cs
Labels: c/common

#275 Migration to Xamarin.Essentials & Updated permissions
  Softeq.XToolkit.Common/Interfaces/IInternalSettings.cs
  Softeq.XToolkit.Permissions.Droid/PermissionsManager.cs
  Softeq.XToolkit.Permissions.Droid/PermissionsService.cs
  Softeq.XToolkit.Permissions.Droid/RequestResultHandler.cs
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Permissions.iOS/PermissionsManager.cs
  Softeq.XToolkit.Permissions.iOS/PermissionsService.cs
  Softeq.XToolkit.Permissions.iOS/Softeq.XToolkit.Permissions.iOS.csproj
  Softeq.XToolkit.Permissions/DefaultPermissionsDialogService.cs
  Softeq.XToolkit.Permissions/IPermissionsDialogService.cs
  Softeq.XToolkit.Permissions/IPermissionsManager.cs
  Softeq.XToolkit.Permissions/IPermissionsService.cs
  Softeq.XToolkit.Permissions/NotificationsPermission.cs
  Softeq.XToolkit.Permissions/PluginPermissionStatusExtensions.cs
  Softeq.XToolkit.Permissions/Softeq.XToolkit.Permissions.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Controls/AvatarPlaceholderDrawable.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/AlertDialogBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DefaultAlertBuilder.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Extensions/ImageViewExtensions.cs
  Softeq.XToolkit.WhiteLabel.Droid/MainApplicationBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/ActivityPageNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/FrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Providers/ContextProvider.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/DroidInternalSettings.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/DroidToastService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/KeyboardService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/LauncherService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/LocationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/ViewComponents/BottomNavigationComponentBase.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/DroidImagePickerService.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/ImagePicker.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/ImagePickerActivity.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/ImagePicker.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/SimpleImagePicker.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/Softeq.XToolkit.WhiteLabel.Essentials.iOS.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Services/IosInternalSettings.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Services/InternalSettings.cs
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  documentation/articles/xtoolkit/permissions.md
  nuget/Softeq.XToolkit.Permissions.nuspec
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Essentials.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
  samples/Playground.Forms/Playground.Forms.Droid/DroidBootstrapper.cs
  samples/Playground.Forms/Playground.Forms.Droid/MainActivity.cs
  samples/Playground.Forms/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/ViewModels/Components/PermissionsPageViewModel.cs
  samples/Playground/Playground.Droid/Views/Components/PermissionsPageActivity.cs
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground/ViewModels/Components/PermissionViewModel.cs
  samples/Playground/Playground/ViewModels/Components/PermissionsPageViewModel.cs
Labels: c/permissions, c/wl, documentation, ei/xamarin.forms, p/Android, p/iOS

#338 Add tests for Timer and TimerFactory
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common.Tests/Timers/TimerFactoryTests/TimerFactoryTests.cs
  Softeq.XToolkit.Common.Tests/Timers/TimerTests/TimerTests.cs
  Softeq.XToolkit.Common/Extensions/TaskExtensions.cs
  Softeq.XToolkit.Common/Timers/ITimer.cs
  Softeq.XToolkit.Common/Timers/Timer.cs
Labels: c/common

#342 Fix frame navigate to first viewmodel
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
Labels: c/wl, p/Android

#323 Hide details of iOS init navigation
  Softeq.XToolkit.WhiteLabel.iOS/AppDelegateBase.cs
  XToolkit.ruleset
  documentation/articles/configure-android.md
  documentation/articles/configure-ios.md
  samples/Playground/Playground.iOS/AppDelegate.cs
Labels: c/wl, p/iOS

#320 Add Validation
  Softeq.XToolkit.WhiteLabel.Tests/Validation/Rules/EmailRuleTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Validation/Rules/StringLengthRuleTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Validation/Rules/StringNotEmptyRuleTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Validation/ValidatableGroupTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Validation/ValidatableObjectTests.cs
  Softeq.XToolkit.WhiteLabel/Validation/IValidatableObject.cs
  Softeq.XToolkit.WhiteLabel/Validation/IValidationRule.cs
  Softeq.XToolkit.WhiteLabel/Validation/Rules/EmailRule.cs
  Softeq.XToolkit.WhiteLabel/Validation/Rules/IsValueTrueRule.cs
  Softeq.XToolkit.WhiteLabel/Validation/Rules/StringLengthRule.cs
  Softeq.XToolkit.WhiteLabel/Validation/Rules/StringNotEmptyRule.cs
  Softeq.XToolkit.WhiteLabel/Validation/ValidatableGroup.cs
  Softeq.XToolkit.WhiteLabel/Validation/ValidatableObject.cs
  documentation/articles/toc.yml
  documentation/articles/xtoolkit/whitelabel/validation.md
  documentation/images/validation.png
  samples/Playground.Forms/Playground.Forms/CoreBootstrapper.cs
  samples/Playground.Forms/Playground.Forms/Playground.Forms.csproj
  samples/Playground.Forms/Playground.Forms/ViewModels/Components/ValidationPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MainPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/Views/Components/ValidationPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Components/ValidationPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MainPage.xaml
Labels: c/wl, enhancement, good first issue

#343 Add Common.Tasks tests
  Softeq.XToolkit.Common.Tests/TaskReferenceTest.cs
  Softeq.XToolkit.Common.Tests/Tasks/TaskDeferralTests.cs
  Softeq.XToolkit.Common.Tests/Timers/TimerFactoryTests/TimerFactoryTests.cs
  Softeq.XToolkit.Common.Tests/Timers/TimerTests/TimerTests.cs
  Softeq.XToolkit.Common/Tasks/TaskDeferral.cs
  Softeq.XToolkit.Common/Tasks/TaskReference.cs
  Softeq.XToolkit.Common/Timers/ITimerFactory.cs
  Softeq.XToolkit.Common/Timers/Timer.cs
  Softeq.XToolkit.Common/Timers/TimerFactory.cs
Labels: c/common

#346 Collections event args moved to separate folder and tests added
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableRecyclerViewAdapter.cs
  Softeq.XToolkit.Bindings.Droid/Handlers/DroidRecyclerObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings.Droid/ObservableRecyclerGroupViewAdapter.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableGroupCollectionViewSource.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableTableViewSource.cs
  Softeq.XToolkit.Bindings.iOS/Handlers/IosCollectionObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings.iOS/Handlers/IosDataSourceHandler.cs
  Softeq.XToolkit.Bindings.iOS/Handlers/IosTableObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings.iOS/ObservableGroupTableViewSource.cs
  Softeq.XToolkit.Bindings/Handlers/ObservableKeyGroupCollectionHandlerBase.cs
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.Common.Tests/Collections/EventArgs/NotifyCollectionInsertEventArgsTests/NotifyCollectionInsertEventArgsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Collections/EventArgs/NotifyCollectionInsertEventArgsTests/NotifyCollectionInsertEventArgsTests.cs
  Softeq.XToolkit.Common.Tests/Collections/EventArgs/NotifyGroupCollectionChangedEventArgsTests/NotifyGroupCollectionChangedEventArgsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Collections/EventArgs/NotifyGroupCollectionChangedEventArgsTests/NotifyGroupCollectionChangedEventArgsTests.cs
  Softeq.XToolkit.Common.Tests/Collections/EventArgs/NotifyKeyGroupCollectionChangedEventArgsTests/NotifyKeyGroupCollectionChangedEventArgsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Collections/EventArgs/NotifyKeyGroupCollectionChangedEventArgsTests/NotifyKeyGroupCollectionChangedEventArgsTests.cs
  Softeq.XToolkit.Common.Tests/Collections/EventArgs/NotifyKeyGroupsCollectionChangedEventArgsTests/NotifyKeyGroupsCollectionChangedEventArgsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Collections/EventArgs/NotifyKeyGroupsCollectionChangedEventArgsTests/NotifyKeyGroupsCollectionChangedEventArgsTests.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionNew/ObservableKeyGroupsCollectionNewTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/ObservableCollectionExtensionsTests/ObservableCollectionDataProvider.cs
  Softeq.XToolkit.Common/Collections/EventArgs/NotifyCollectionInsertEventArgs.cs
  Softeq.XToolkit.Common/Collections/EventArgs/NotifyGroupCollectionChangedEventArgs.cs
  Softeq.XToolkit.Common/Collections/EventArgs/NotifyKeyGroupCollectionChangedEventArgs.cs
  Softeq.XToolkit.Common/Collections/EventArgs/NotifyKeyGroupsCollectionChangedEventArgs.cs
  Softeq.XToolkit.Common/Collections/INotifyGroupCollectionChanged.cs
  Softeq.XToolkit.Common/Collections/INotifyKeyGroupCollectionChanged.cs
  Softeq.XToolkit.Common/Collections/NotifyKeyGroupCollectionChangedEventArgs.cs
  Softeq.XToolkit.Common/Collections/ObservableItemContentRangeCollection.cs
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollection.cs
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollectionNew.cs
  Softeq.XToolkit.Common/Collections/ObservableRangeCollection.cs
  Softeq.XToolkit.Common/Softeq.XToolkit.Common.csproj
  Softeq.XToolkit.Common/Weak/NotifyCollectionChangedEventSubscription.cs
Labels: c/bindings, c/common

#344 Add XToolkit.Common.iOS.Tests project + add tests for NsRangeExtensions
  Softeq.XToolkit.Common.iOS.Tests/AppDelegate.cs
  Softeq.XToolkit.Common.iOS.Tests/Entitlements.plist
  Softeq.XToolkit.Common.iOS.Tests/Extensions/NsRangeExtensionsTests/NsRangeExtensionsTests.cs
  Softeq.XToolkit.Common.iOS.Tests/Info.plist
  Softeq.XToolkit.Common.iOS.Tests/LaunchScreen.storyboard
  Softeq.XToolkit.Common.iOS.Tests/Main.cs
  Softeq.XToolkit.Common.iOS.Tests/Softeq.XToolkit.Common.iOS.Tests.csproj
  Softeq.XToolkit.Common.iOS/Extensions/NsRangeExtensions.cs
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
  XToolkit.sln
  azure-pipelines/templates/app-jobs.yml
Labels: CI/CD, c/common, p/iOS

#345 Add GH Actions auto PR lebeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: CI/CD

#347 Feature/fragment dialogs improvements
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardDialogsService.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/ViewModelBase.cs
  Softeq.XToolkit.WhiteLabel/Navigation/DialogsServiceExtensions.cs
Labels: c/wl, c/wl.forms, p/Android
