Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2020-03, with the labels that each got.

#242 Add Enum key support for TabNavigation
  Softeq.XToolkit.WhiteLabel.Droid/Controls/BadgeView.cs
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapper.cs
  Softeq.XToolkit.WhiteLabel.Droid/Views/BottomNavigationActivityBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Views/ToolbarActivityBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Controls/BindableTabBarItem.cs
  Softeq.XToolkit.WhiteLabel.iOS/IosBootstraper.cs
  Softeq.XToolkit.WhiteLabel.iOS/ViewControllers/ToolbarViewControllerBase.cs
  Softeq.XToolkit.WhiteLabel/Model/TabItem.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/Tab/TabViewModel.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/Tab/ToolbarViewModelBase.cs
  samples/Playground/Playground.Droid/Views/BottomTabs/BottomTabsPageActivity.cs
  samples/Playground/Playground.iOS/ViewControllers/BottomTabs/BottomTabsPageViewController.cs
  samples/Playground/Playground/ViewModels/BottomTabs/BottonTabsPageViewModel.cs
Labels: c/playground, c/wl, enhancement

#250 Update documentation
  documentation/Softeq.XToolkit.Documentation.csproj
  documentation/api/index.md
  documentation/articles/developer-guide.md
  documentation/articles/intro.md
  documentation/articles/toc.md
  documentation/docfx.json
  documentation/filter.yml
  documentation/images/logo.png
  documentation/index.md
  documentation/templates/material/partials/head.tmpl.partial
  documentation/templates/material/styles/main.css
Labels: documentation

#254 Refactor XF frame navigation.
  Softeq.XToolkit.WhiteLabel.Forms/Behaviors/BehaviorBase.cs
  Softeq.XToolkit.WhiteLabel.Forms/Behaviors/EventToCommandBehavior.cs
  Softeq.XToolkit.WhiteLabel.Forms/Behaviors/MasterPageBehavior.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FluentNavigatorExtensions.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsDialogsService.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsViewLocator.cs
  samples/Playground.Forms/Playground.Forms/App.xaml
  samples/Playground.Forms/Playground.Forms/Bootstrapper.cs
  samples/Playground.Forms/Playground.Forms/Services/PlaygroundViewLocator.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/Dialogs/DialogsRootPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/Dialogs/Modal/ModalPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MainPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/DetailPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/DrillNavigation/DrillRootPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/MasterDetailViewModelFactory.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/MasterPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/RootMasterDetailPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/SelectedItemPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/SimpleNavigation/FirstPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/SimpleNavigation/SecondPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/DialogsRoot.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/DialogsRootPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/DialogsRootPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/ModalPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/ModalPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/SecondModalPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/SecondModalPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MainPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MainPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/Detail.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DetailPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DetailPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DrillNavigation/DrillLevel1Page.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DrillNavigation/DrillLevel1Page.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DrillNavigation/DrillLevel2Page.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DrillNavigation/DrillLevel2Page.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/Master.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/MasterPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/MasterPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/RootMasterDetail.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/RootMasterDetailPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/RootMasterDetailPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/SelectedItem.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/SelectedItemPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/SelectedItemPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/FirstLevel.xaml
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/FirstPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/FirstPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/SecondLevel.xaml
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/SecondPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/SecondPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/StartPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/StartPage.xaml.cs
Labels: c/playground, ei/xamarin.forms

#260 Refactor bootstrapper
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapper.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidViewLocator.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/IViewLocator.cs
  Softeq.XToolkit.WhiteLabel.iOS/Helpers/ViewControllerHelper.cs
  Softeq.XToolkit.WhiteLabel.iOS/IosBootstraper.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/IViewLocator.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardViewLocator.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperWithViewModelLookup.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerAdapter.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/ViewModelFinderBase.cs
Labels: c/wl, enhancement

#262 Resolve nullable warnings
  Softeq.XToolkit.Bindings.iOS/GestureRecognizerBinding.cs
  Softeq.XToolkit.Common.Tests/Helpers/TagsHelperTests/TagsHelperTests.cs
  Softeq.XToolkit.Connectivity.iOS/IosConnectivityService.cs
  Softeq.XToolkit.PushNotifications/PushNotificationsServiceBase.cs
  Softeq.XToolkit.Remote.Tests/RemoteServiceTests.cs
  Softeq.XToolkit.Remote.Tests/Softeq.XToolkit.Remote.Tests.csproj
  Softeq.XToolkit.Remote/Client/DefaultHttpClientFactory.cs
  Softeq.XToolkit.Remote/Client/DefaultHttpMessageHandlerBuilder.cs
  Softeq.XToolkit.Remote/Client/HttpMessageHandlerBuilder.cs
  Softeq.XToolkit.Remote/Client/IHttpClientFactory.cs
  Softeq.XToolkit.Remote/Executor/DefaultExecutorBuilder.cs
  Softeq.XToolkit.Remote/Extensions.cs
  Softeq.XToolkit.Remote/IRemoteService.cs
  Softeq.XToolkit.Remote/Primitives/RequestOptions.cs
  Softeq.XToolkit.Remote/RemoteService.cs
  Softeq.XToolkit.WhiteLabel.Droid/ImagePicker/ImagePickerActivity.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidViewLocator.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/FrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Controls/BindableTabBarItem.cs
  Softeq.XToolkit.WhiteLabel.iOS/Controls/CustomViewBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Helpers/UiTabBarControllerHelper.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardViewLocator.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IContainer.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerAdapter.cs
  azure-pipelines/templates/app-jobs.yml
  azure-pipelines/templates/vars.yml
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/RemoteApp/NetworkApp.Android/NetworkApp.Android.csproj
  samples/RemoteApp/NetworkApp.iOS/NetworkApp.iOS.csproj
  samples/RemoteApp/NetworkApp/App.xaml.cs
  samples/RemoteApp/NetworkApp/NetworkApp.csproj
  samples/RemoteApp/NetworkApp/ViewModels/MainPageViewModel.cs
  samples/RemoteApp/NetworkApp/ViewModels/WorkItemViewModel.cs
  samples/RemoteApp/RemoteServices/Auth/Dtos/AuthRequest.cs
  samples/RemoteApp/RemoteServices/Auth/Dtos/LoginRequest.cs
  samples/RemoteApp/RemoteServices/Auth/Dtos/RefreshTokenRequest.cs
  samples/RemoteApp/RemoteServices/Auth/Dtos/TokenResponse.cs
  samples/RemoteApp/RemoteServices/Auth/InMemoryTokenManager.cs
  samples/RemoteApp/RemoteServices/Auth/Models/TokenResult.cs
  samples/RemoteApp/RemoteServices/GitHub/Dtos/UserDetailsResponse.cs
  samples/RemoteApp/RemoteServices/GitHub/Mapper.cs
  samples/RemoteApp/RemoteServices/GitHub/Models/User.cs
  samples/RemoteApp/RemoteServices/Profile/Dtos/ProfileResponse.cs
  samples/RemoteApp/RemoteServices/Profile/Models/ProfileResult.cs
  samples/RemoteApp/RemoteServices/RemoteServices.csproj
  samples/RemoteApp/RemoteServices/Test/Dtos/PhotoResponse.cs
  samples/RemoteApp/RemoteServices/Test/IPhotosApiService.cs
Labels: CI/CD, c/connectivity, c/playground, c/push-notifications, c/remote, c/wl

#266 Share common build properties
  Directory.Build.props
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Bindings.iOS/Softeq.XToolkit.Bindings.iOS.csproj
  Softeq.XToolkit.Bindings/Softeq.XToolkit.Bindings.csproj
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
  Softeq.XToolkit.Common/Softeq.XToolkit.Common.csproj
  Softeq.XToolkit.Connectivity.iOS/Softeq.XToolkit.Connectivity.iOS.csproj
  Softeq.XToolkit.Connectivity/Softeq.XToolkit.Connectivity.csproj
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Permissions.iOS/Softeq.XToolkit.Permissions.iOS.csproj
  Softeq.XToolkit.Permissions/Softeq.XToolkit.Permissions.csproj
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.PushNotifications.iOS/Softeq.XToolkit.PushNotifications.iOS.csproj
  Softeq.XToolkit.PushNotifications/Softeq.XToolkit.PushNotifications.csproj
  Softeq.XToolkit.Remote.Tests/Softeq.XToolkit.Remote.Tests.csproj
  Softeq.XToolkit.Remote/Softeq.XToolkit.Remote.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  Softeq.XToolkit.Whitelabel.Tests/Softeq.XToolkit.Whitelabel.Tests.csproj
Labels: enhancement

#264 Update GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#267 Resolve nullability warnings
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableRecyclerViewAdapter.cs
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableViewHolder.cs
  Softeq.XToolkit.Bindings.Droid/DroidBinding.cs
  Softeq.XToolkit.Bindings.Droid/DroidBindingFactory.cs
  Softeq.XToolkit.Bindings.Droid/Handlers/DroidRecyclerObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings.Droid/ObservableAdapter.cs
  Softeq.XToolkit.Bindings.Droid/ObservableGroupAdapter.cs
  Softeq.XToolkit.Bindings.Droid/ObservableRecyclerGroupViewAdapter.cs
  Softeq.XToolkit.Bindings.Droid/ObservableRecyclerViewAdapter.cs
  Softeq.XToolkit.Bindings.iOS/AppleBinding.cs
  Softeq.XToolkit.Bindings.iOS/AppleBindingExtensions.cs
  Softeq.XToolkit.Bindings.iOS/AppleBindingFactory.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableCollectionViewCell.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableCollectionViewSource.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableGroupCollectionViewSource.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableTableViewCell.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableTableViewHeaderFooterView.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableTableViewSource.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableUICollectionReusableView.cs
  Softeq.XToolkit.Bindings.iOS/GestureRecognizerBinding.cs
  Softeq.XToolkit.Bindings.iOS/Gestures/GestureRecognizerBehavior.cs
  Softeq.XToolkit.Bindings.iOS/Handlers/IosCollectionObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings.iOS/Handlers/IosTableObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings.iOS/ObservableCollectionViewSource.cs
  Softeq.XToolkit.Bindings.iOS/ObservableGroupTableViewSource.cs
  Softeq.XToolkit.Bindings.iOS/ObservableTableViewController.cs
  Softeq.XToolkit.Bindings.iOS/ObservableTableViewSource.cs
  Softeq.XToolkit.Bindings/Binding.cs
  Softeq.XToolkit.Bindings/BindingExtensions.cs
  Softeq.XToolkit.Bindings/BindingGeneric.cs
  Softeq.XToolkit.Bindings/Handlers/ObservableKeyGroupCollectionHandlerBase.cs
  Softeq.XToolkit.Bindings/IBindingFactory.cs
  Softeq.XToolkit.Bindings/PropertyChangedEventManager.cs
  Softeq.XToolkit.Whitelabel.Tests/PageNavigationServiceTests.cs
  Softeq.XToolkit.Whitelabel.Tests/ViewModelStub.cs
Labels: c/bindings, enhancement

#265 Rework boostrappers
  Softeq.XToolkit.Common.Tests/Extensions/ListExtensionsTests/ListExtensionsTests.cs
  Softeq.XToolkit.Common/Extensions/EnumerableExtensions.cs
  Softeq.XToolkit.Common/Extensions/ListExtensions.cs
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/MainApplicationBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.iOS/AppDelegateBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/IosBootstraperBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperWithViewModelLookup.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/DefaultViewModelFinder.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/IBootstrapper.cs
  Softeq.XToolkit.WhiteLabel/Dependencies.cs
  Softeq.XToolkit.WhiteLabel/Extensions/ReflectionExtensions.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/ViewModelBase.cs
  Softeq.XToolkit.Whitelabel.Tests/Bootstrapper/DefaultViewModelFinderTests/DefaultViewModelFinderTests.cs
  Softeq.XToolkit.Whitelabel.Tests/Bootstrapper/DefaultViewModelFinderTests/TypeStubs.cs
  samples/Playground/Playground.Droid/CustomDroidBootstrapper.cs
  samples/Playground/Playground.Droid/MainApplication.cs
  samples/Playground/Playground.iOS/AppDelegate.cs
  samples/Playground/Playground.iOS/CustomIosBootstraper.cs
Labels: c/playground, c/wl, enhancement, good first issue

#269 Disposable SetCommand
  Softeq.XToolkit.Bindings.Droid/DroidBinding.cs
  Softeq.XToolkit.Bindings.Droid/DroidBindingExtensions.cs
  Softeq.XToolkit.Bindings.Droid/DroidBindingFactory.cs
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Bindings.Tests/AssertHelpers.cs
  Softeq.XToolkit.Bindings.Tests/BindingExtensionsTests/BindingExtensionsTests.cs
  Softeq.XToolkit.Bindings.Tests/BindingFactoryBaseTests/GetCommandHandlerGenericTEventArgsTests.cs
  Softeq.XToolkit.Bindings.Tests/BindingFactoryBaseTests/GetCommandHandlerTests.cs
  Softeq.XToolkit.Bindings.Tests/CommandDataProvider.cs
  Softeq.XToolkit.Bindings.Tests/MockBindingFactory.cs
  Softeq.XToolkit.Bindings.Tests/Softeq.XToolkit.Bindings.Tests.csproj
  Softeq.XToolkit.Bindings.Tests/StubEvent.cs
  Softeq.XToolkit.Bindings.Tests/StubProducer.cs
  Softeq.XToolkit.Bindings.iOS/AppleBinding.cs
  Softeq.XToolkit.Bindings.iOS/AppleBindingFactory.cs
  Softeq.XToolkit.Bindings/BindingExtensions.cs
  Softeq.XToolkit.Bindings/BindingFactoryBase.cs
  Softeq.XToolkit.Bindings/BindingGeneric.cs
  Softeq.XToolkit.Bindings/BindingMode.cs
  Softeq.XToolkit.Bindings/IBindingFactory.cs
  Softeq.XToolkit.Common/Disposables/AnonymousDisposable.cs
  Softeq.XToolkit.Common/Disposables/Disposable.cs
  Softeq.XToolkit.WhiteLabel.iOS/ViewControllers/ToolbarViewControllerBase.cs
  samples/Playground/Playground.sln
Labels: c/bindings, c/common

#214 fix ios 13 navigation
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardNavigation.cs
Labels: c/wl, p/iOS

#255 Migration to AndroidX
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableRecyclerViewAdapter.cs
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableViewHolder.cs
  Softeq.XToolkit.Bindings.Droid/Handlers/DroidRecyclerObservableKeyGroupCollectionHandler.cs
  Softeq.XToolkit.Bindings.Droid/ObservableRecyclerGroupViewAdapter.cs
  Softeq.XToolkit.Bindings.Droid/ObservableRecyclerViewAdapter.cs
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.Droid/INotificationsSettingsProvider.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationActionsHelper.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationsHelper.cs
  Softeq.XToolkit.PushNotifications.Droid/PushNotificationStyles.cs
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/ActivityBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Controls/ColoredClickableSpan.cs
  Softeq.XToolkit.WhiteLabel.Droid/Controls/DroidContextMenuComponent.cs
  Softeq.XToolkit.WhiteLabel.Droid/Controls/NonConsumingTouchesToolbar.cs
  Softeq.XToolkit.WhiteLabel.Droid/Controls/SwipeControlViewPager.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Extensions/BottomNavigationViewExtensions.cs
  Softeq.XToolkit.WhiteLabel.Droid/Extensions/FragmentExtensions.cs
  Softeq.XToolkit.WhiteLabel.Droid/Extensions/ViewExtensions.cs
  Softeq.XToolkit.WhiteLabel.Droid/FragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/ImagePicker/ImagePickerActivity.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/ViewModelStore.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/ViewModelStoreFragment.cs
  Softeq.XToolkit.WhiteLabel.Droid/MainApplicationBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/FrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Resources/layout/activity_bottom_navigation.axml
  Softeq.XToolkit.WhiteLabel.Droid/Services/DroidToastService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Views/BottomNavigationActivityBase.cs
  nuget/Softeq.XToolkit.Bindings.nuspec
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
  samples/Playground/Playground.Droid/LinkerPleaseInclude.cs
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.Droid/Properties/AndroidManifest.xml
  samples/Playground/Playground.Droid/Resources/layout/activity_collection.xml
  samples/Playground/Playground.Droid/Resources/layout/activity_group_collection.xml
  samples/Playground/Playground.Droid/Views/BottomTabs/BottomTabsPageActivity.cs
  samples/Playground/Playground.Droid/Views/Collections/CollectionPageActivity.cs
  samples/Playground/Playground.Droid/Views/Collections/GroupedCollectionPageActivity.cs
  samples/Playground/Playground.Droid/Views/Collections/GroupedTablePageActivity.cs
  samples/Playground/Playground.Droid/Views/Collections/TablePageActivity.cs
  samples/Playground/Playground.Droid/Views/SplashActivity.cs
Labels: c/bindings, c/playground, c/push-notifications, c/wl, p/Android

#274 Update AndroidX nugets
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
  samples/Playground/Playground.Droid/Playground.Droid.csproj
Labels: c/playground, c/push-notifications, c/wl, p/Android

#277 Resolves warnings about nullability
  Softeq.XToolkit.Common.Tests/Commands/CommandsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Commands/RelayCommandGenericTests.cs
  Softeq.XToolkit.Common/Commands/AsyncCommand.cs
  Softeq.XToolkit.Common/Commands/RelayCommand.cs
  Softeq.XToolkit.Common/Commands/RelayCommandGeneric.cs
  Softeq.XToolkit.Common/Extensions/DictionaryExtensions.cs
  Softeq.XToolkit.Common/Extensions/EnumerableExtensions.cs
  Softeq.XToolkit.Common/Extensions/InternalSettingsExtensions.cs
  Softeq.XToolkit.Common/Interfaces/IJsonSerializer.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidFragmentDialogService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/BundleService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardDialogsService.cs
  Softeq.XToolkit.WhiteLabel/Services/JsonSerializer.cs
  Softeq.XToolkit.Whitelabel.Tests/Softeq.XToolkit.Whitelabel.Tests.csproj
  Softeq.XToolkit.Whitelabel.Tests/ViewModelStub.cs
Labels: c/common, c/wl

#278 Add Stream.ToArray method
  Softeq.XToolkit.Common.Tests/Extensions/StreamExtensionsTests/StreamToArrayTests.cs
  Softeq.XToolkit.Common/Extensions/StreamExtensions.cs
Labels: c/common

#272 Rework dialogs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/AlertDialogBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DefaultAlertBuilder.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidActionSheetDialog.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidAlertDialog.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidConfirmDialog.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidFragmentDialogService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/IAlertBuilder.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Controls/ActionsSheetControl.cs
  Softeq.XToolkit.WhiteLabel.iOS/Dialogs/AlertAction.cs
  Softeq.XToolkit.WhiteLabel.iOS/Dialogs/AlertViewControllerBase.cs
  Softeq.XToolkit.WhiteLabel.iOS/Dialogs/IosActionSheetDialog.cs
  Softeq.XToolkit.WhiteLabel.iOS/Dialogs/IosAlertDialog.cs
  Softeq.XToolkit.WhiteLabel.iOS/Dialogs/IosConfirmDialog.cs
  Softeq.XToolkit.WhiteLabel.iOS/Extensions/CommandActionStyleExtensions.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardDialogsService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Dialogs/ActionSheetDialogConfig.cs
  Softeq.XToolkit.WhiteLabel/Dialogs/AlertDialogConfig.cs
  Softeq.XToolkit.WhiteLabel/Dialogs/ConfirmDialogConfig.cs
  Softeq.XToolkit.WhiteLabel/Dialogs/IDialog.cs
  Softeq.XToolkit.WhiteLabel/Navigation/IDialogResult.cs
  Softeq.XToolkit.WhiteLabel/Navigation/IDialogsService.cs
  samples/Playground/Playground.Droid/CustomDroidBootstrapper.cs
  samples/Playground/Playground.Droid/Extended/DroidChooseBetterDateDialog.cs
  samples/Playground/Playground.Droid/Extended/DroidExtendedDialogsService.cs
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.Droid/Resources/layout/activity_dialogs.xml
  samples/Playground/Playground.Droid/Views/Dialogs/DialogsPageActivity.cs
  samples/Playground/Playground.iOS/CustomIosBootstraper.cs
  samples/Playground/Playground.iOS/Extended/IosChooseBetterDateDialog.cs
  samples/Playground/Playground.iOS/Extended/IosExtendedDialogsService.cs
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground.iOS/ViewControllers/Dialogs/DialogsPageStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Dialogs/DialogsPageViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Dialogs/DialogsPageViewController.designer.cs
  samples/Playground/Playground/Extended/IExtendedDialogsService.cs
  samples/Playground/Playground/ViewModels/Collections/Base/GroupedListViewModelBase.cs
  samples/Playground/Playground/ViewModels/Collections/Base/SimpleListViewModelBase.cs
  samples/Playground/Playground/ViewModels/Collections/CollectionPageViewModel.cs
  samples/Playground/Playground/ViewModels/Collections/GroupedCollectionPageViewModel.cs
  samples/Playground/Playground/ViewModels/Collections/GroupedTablePageViewModel.cs
  samples/Playground/Playground/ViewModels/Collections/TablePageViewModel.cs
  samples/Playground/Playground/ViewModels/Dialogs/ChooseBetterDateDialogConfig.cs
  samples/Playground/Playground/ViewModels/Dialogs/DialogsPageViewModel.cs
  samples/Playground/Playground/ViewModels/Pages/DetailsPageViewModel.cs
Labels: c/playground, c/wl, enhancement, p/Android, p/iOS

#279 Make list extensions more versatile
  Softeq.XToolkit.Common/Extensions/ListExtensions.cs
Labels: c/common, enhancement

#281 New beta version 5
  nuget/Softeq.XToolkit.Bindings.nuspec
  nuget/Softeq.XToolkit.Common.nuspec
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.Remote.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground/Playground.csproj
Labels: CI/CD, c/bindings, c/common, c/permissions, c/playground, c/push-notifications, c/wl, documentation
