Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2020-05, with the labels that each got.

#308 IosConnectivityService: Add ReaderWriterLockSlim to avoid crashes
  Softeq.XToolkit.Connectivity.iOS/IosConnectivityService.cs
Labels: c/connectivity, p/iOS

#310 Feature/weak async command
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandGenericTests.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandGenericTestsCanExecute.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandGenericTestsCanExecuteChanged.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandGenericTestsExecute.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandGenericTestsExecuteAsync.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandTests.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandTestsCanExecute.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandTestsCanExecuteChanged.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandTestsExecute.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandTestsExecuteAsync.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/AsyncCommandsFactory.cs
  Softeq.XToolkit.Common.Tests/Commands/AsyncCommandTests/ExecuteDelegatesFactory.cs
  Softeq.XToolkit.Common.Tests/Commands/CommandsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Commands/RelayCommandGenericTests.cs
  Softeq.XToolkit.Common.Tests/Commands/RelayCommandTests/RelayCommandGenericTests.cs
  Softeq.XToolkit.Common.Tests/Commands/RelayCommandTests/RelayCommandTests.cs
  Softeq.XToolkit.Common.Tests/Commands/RelayCommandTests/RelayCommandsFactory.cs
  Softeq.XToolkit.Common.Tests/Commands/Utils/TestCanExecuteProvider.cs
  Softeq.XToolkit.Common.Tests/Commands/Utils/TestExecuteAsyncProvider.cs
  Softeq.XToolkit.Common.Tests/Commands/Utils/TestExecuteProvider.cs
  Softeq.XToolkit.Common.Tests/Extensions/TaskExtensionsTests/TaskExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/WeakTests/Utils/WeakDelegateCreator.cs
  Softeq.XToolkit.Common/Commands/AsyncCommand.cs
  Softeq.XToolkit.Common/Commands/AsyncCommandBase.cs
  Softeq.XToolkit.Common/Commands/AsyncCommandGeneric.cs
  Softeq.XToolkit.Common/Commands/InvalidCommandParameterException.cs
  Softeq.XToolkit.Common/Commands/RelayCommand.cs
  Softeq.XToolkit.Common/Commands/RelayCommandGeneric.cs
  Softeq.XToolkit.Common/Weak/WeakAction.cs
  Softeq.XToolkit.Common/Weak/WeakDelegate.cs
  Softeq.XToolkit.Common/Weak/WeakFunc.cs
Labels: c/common, enhancement, good first issue

#312 Featture/setcommand_on_ui_thread
  Softeq.XToolkit.Bindings.Droid/DroidBindingFactory.cs
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Bindings.Tests/MockBindingFactory.cs
  Softeq.XToolkit.Bindings.iOS/AppleBindingFactory.cs
  Softeq.XToolkit.Bindings/BindingExtensions.cs
  Softeq.XToolkit.Bindings/BindingFactoryBase.cs
  Softeq.XToolkit.Bindings/IBindingFactory.cs
  Softeq.XToolkit.Common.Droid/Extensions/ViewExtensions.cs
Labels: c/bindings, c/common

#313 Feature/permissions playground forms
  documentation/articles/xtoolkit/permissions.md
  samples/Playground.Forms/Playground.Forms.Droid/DroidBootstrapper.cs
  samples/Playground.Forms/Playground.Forms.Droid/MainActivity.cs
  samples/Playground.Forms/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  samples/Playground.Forms/Playground.Forms.Droid/Properties/AndroidManifest.xml
  samples/Playground.Forms/Playground.Forms.iOS/Info.plist
  samples/Playground.Forms/Playground.Forms.iOS/IosBootstrapper.cs
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/CoreBootstrapper.cs
  samples/Playground.Forms/Playground.Forms/Playground.Forms.csproj
  samples/Playground.Forms/Playground.Forms/ViewModels/Components/PermissionsPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MainPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/Views/Components/PermissionsPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Components/PermissionsPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MainPage.xaml
  samples/Playground/Playground/ViewModels/Components/PermissionViewModel.cs
Labels: c/playground, documentation, ei/xamarin.forms
