Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2020-02, with the labels that each got.

#238 IContainer improvements
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IContainerBuilder.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerBuilder.cs
Labels: c/wl, enhancement

#234 Feature/helpers tests
  Softeq.XToolkit.Common.Tests/Helpers/HashHelperTests/HashHelperDataProvider.cs
  Softeq.XToolkit.Common.Tests/Helpers/HashHelperTests/HashHelperTests.cs
  Softeq.XToolkit.Common.Tests/Helpers/HashHelperTests/TestHashObject.cs
  Softeq.XToolkit.Common.Tests/Helpers/TagsHelperTests/TagsHelperDataProvider.cs
  Softeq.XToolkit.Common.Tests/Helpers/TagsHelperTests/TagsHelperTests.cs
  Softeq.XToolkit.Common.Tests/Helpers/TextRangeTests/TextRangeDataProvider.cs
  Softeq.XToolkit.Common.Tests/Helpers/TextRangeTests/TextRangeTests.cs
  Softeq.XToolkit.Common.Tests/HelpersTests.cs
  Softeq.XToolkit.Common/Helpers/HashHelper.cs
  Softeq.XToolkit.Common/Helpers/TagsHelper.cs
  Softeq.XToolkit.Common/Helpers/TextRange.cs
Labels: c/common, enhancement, good first issue

#244 Feature/navigation sample
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Forms/Behaviors/BehaviorBase.cs
  Softeq.XToolkit.WhiteLabel.Forms/Behaviors/EventToCommandBehavior.cs
  Softeq.XToolkit.WhiteLabel.Forms/Behaviors/MasterPageBehavior.cs
  Softeq.XToolkit.WhiteLabel.Forms/FormsApp.cs
  Softeq.XToolkit.WhiteLabel.Forms/FormsBootstrapper.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsPageNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsViewLocator.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/IMasterDetailViewModel.cs
  Softeq.XToolkit.WhiteLabel.Forms/Softeq.XToolkit.WhiteLabel.Forms.csproj
  samples/Playground.Forms/Playground.Forms.Android/Playground.Forms.Android.csproj
  samples/Playground.Forms/Playground.Forms.Android/Properties/AndroidManifest.xml
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/Bootstrapper.cs
  samples/Playground.Forms/Playground.Forms/Playground.Forms.csproj
  samples/Playground.Forms/Playground.Forms/Services/PlaygroundViewLocator.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MainPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/DetailViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/MasterDetailViewModelFactory.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/MasterViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/RootMasterViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MasterDetailNavigation/SelectedItemViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/SecondPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/SimpleNavigation/FirstLevelViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/SimpleNavigation/SecondLevelViewModel.cs
  samples/Playground.Forms/Playground.Forms/Views/MainPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/Detail.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/Detail.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/Master.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/Master.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/RootMaster.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/RootMaster.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/SelectedItem.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/SelectedItem.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/FirstLevel.xaml
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/FirstLevel.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/SecondLevel.xaml
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/SecondLevel.xaml.cs
Labels: c/playground, c/wl, ei/xamarin.forms

#236 Feature/extensions tests
  Softeq.XToolkit.Common.Tests/Extensions/AssemblyExtensionsTests/AssemblyExtensionsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Extensions/AssemblyExtensionsTests/AssemblyExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/DateTimeExtensionsTests/DateTimeExtensionsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Extensions/DateTimeExtensionsTests/DateTimeExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/InternalSettingsExtensionsTests/InternalSettingsExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/InternalSettingsExtensionsTests/TestObject.cs
  Softeq.XToolkit.Common.Tests/Extensions/StringExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/StringExtensionsTests/StringExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Extensions/TaskExtensionsTests/TaskExtensionsTests.cs
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common/Extensions/AssemblyExtensions.cs
  Softeq.XToolkit.Common/Extensions/DateTimeExtensions.cs
  Softeq.XToolkit.Common/Extensions/InternalSettingsExtensions.cs
  Softeq.XToolkit.Common/Extensions/StringExtensions.cs
  Softeq.XToolkit.Remote.Tests/Softeq.XToolkit.Remote.Tests.csproj
  Softeq.XToolkit.Whitelabel.Tests/Softeq.XToolkit.Whitelabel.Tests.csproj
Labels: c/common, enhancement, good first issue

#248 New beta version 4
  nuget/Softeq.XToolkit.Bindings.nuspec
  nuget/Softeq.XToolkit.Common.nuspec
  nuget/Softeq.XToolkit.Permissions.nuspec
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.Remote.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
Labels: CI/CD, c/bindings, c/common, c/connectivity, c/playground, c/push-notifications, c/remote, c/wl

#247 Show ViewModel in modal screen
  Softeq.XToolkit.WhiteLabel.Forms/Controls/FormsModalPage.cs
  Softeq.XToolkit.WhiteLabel.Forms/FormsBootstrapper.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsDialogsService.cs
  samples/Playground.Forms/Playground.Forms/Bootstrapper.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/Dialogs/DialogsRootViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/Dialogs/Modal/ModalPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/Dialogs/Modal/SecondModalPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MainPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/DialogsRoot.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/DialogsRoot.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/ModalPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/ModalPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/SecondModalPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/SecondModalPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MainPage.xaml
  samples/Playground/Playground.sln.DotSettings
Labels: c/playground, c/wl, ei/xamarin.forms, enhancement

#253 Implement unified GetHashCode method with null-values support
  Softeq.XToolkit.Common.Tests/Helpers/HashHelperTests/HashHelperTests.cs
  Softeq.XToolkit.Common/Helpers/HashHelper.cs
Labels: c/common, enhancement
