Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2020-10, with the labels that each got.

#384 Documentation and tests for NavigationParameterModel and DialogResult
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/DialogResultTests/DialogResultDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/DialogResultTests/DialogResultTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/NavigationParameterModelTests/NavigationParameterModelDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/NavigationParameterModelTests/NavigationParameterModelTests.cs
  Softeq.XToolkit.WhiteLabel/Navigation/DialogResult.cs
  Softeq.XToolkit.WhiteLabel/Navigation/NavigationParameterModel.cs
Labels: c/wl

#385 Update ColoredClickableSpan
  Softeq.XToolkit.WhiteLabel.Droid/Controls/ColoredClickableSpan.cs
Labels: c/wl, p/Android

#387 Tests and documentation for CommandAction
  Softeq.XToolkit.WhiteLabel.Tests/Mvvm/CommandActionTests/CommandActionTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Mvvm/CommandActionTests/CommandActionTestsDataProvider.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/CommandAction.cs
Labels: c/wl

#386 Tests and documentation for TabItem
  Softeq.XToolkit.WhiteLabel.Tests/Model/TabItemTests/TabItemTests.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IContainer.cs
  Softeq.XToolkit.WhiteLabel/Model/DialogType.cs
  Softeq.XToolkit.WhiteLabel/Model/OpenDialogOptions.cs
  Softeq.XToolkit.WhiteLabel/Model/TabItem.cs
Labels: c/wl

#391 Tests and documentation for DialogViewModelComponent
  Softeq.XToolkit.WhiteLabel.Tests/Mvvm/DialogViewModelComponentTests/DialogViewModelComponentTests.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/DialogViewModelBase.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/DialogViewModelComponent.cs
Labels: c/wl

#390 Tests and documentation for ViewModelFactoryService
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/FrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Tests/Mvvm/ViewModelFactoryTests/ViewModelFactoryTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/ViewModelStub.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IContainer.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerAdapter.cs
  Softeq.XToolkit.WhiteLabel/Interfaces/IViewModelFactoryService.cs
  Softeq.XToolkit.WhiteLabel/Interfaces/IViewModelParameter.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/ViewModelFactoryService.cs
Labels: c/wl

#389 Documentation and tests for ViewModelBase
  Softeq.XToolkit.WhiteLabel.Tests/Mvvm/ViewModelBaseTests/ViewModelBaseTests.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/IViewModelBase.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/ViewModelBase.cs
Labels: c/wl

#393 Headers and footers are now automatically countered in ItemCount
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableRecyclerViewAdapter.cs
Labels: c/bindings, p/Android

#395 add posibility to change adapter header and footer type. add bool to …
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableRecyclerViewAdapter.cs
  Softeq.XToolkit.Common.Droid/Converters/VisibilityConverter.cs
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
Labels: c/common, p/Android

#399 DialogConfigs and DryIocContainerAdapter tests
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidFragmentDialogService.cs
  Softeq.XToolkit.WhiteLabel.Tests/Bootstrapper/Containers/DryIocContainerAdapterTests/DryIocContainerAdapterTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Bootstrapper/Containers/DryIocContainerAdapterTests/DryIocContainerAdapterTestsDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Bootstrapper/Containers/DryIocContainerBuilderTests/DryIocContainerBuilderTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Bootstrapper/DefaultViewModelFinderTests/DefaultViewModelFinderTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Dialogs/ActionSheetDialogConfigTests/ActionSheetDialogConfigTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Dialogs/AlertDialogConfigTests/AlertDialogConfigTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Dialogs/ConfirmDialogConfigTests/ConfirmDialogConfigTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Stubs/TypeStubs.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/StoryboardDialogsService.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IContainerBuilder.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerAdapter.cs
  Softeq.XToolkit.WhiteLabel/Dialogs/ActionSheetDialogConfig.cs
  Softeq.XToolkit.WhiteLabel/Dialogs/AlertDialogConfig.cs
  Softeq.XToolkit.WhiteLabel/Dialogs/ConfirmDialogConfig.cs
  Softeq.XToolkit.WhiteLabel/Dialogs/IDialog.cs
  samples/Playground/Playground/ViewModels/Dialogs/DialogsPageViewModel.cs
Labels: c/wl

#400 Tests and documentation for BackStackManager
  Softeq.XToolkit.WhiteLabel.Droid/ActivityBase.cs
  Softeq.XToolkit.WhiteLabel.Tests/Mvvm/CommandActionTests/CommandActionTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/BackStackManagerTests/BackStackManagerTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/BackStackManagerTests/BackStackManagerTestsDataProvider.cs
  Softeq.XToolkit.WhiteLabel/Dependencies.cs
  Softeq.XToolkit.WhiteLabel/Navigation/BackStackManager.cs
  Softeq.XToolkit.WhiteLabel/Navigation/IBackStackManager.cs
  Softeq.XToolkit.WhiteLabel/Navigation/PageNavigationService.cs
Labels: c/wl, p/Android

#401 Rework full screen image
  Softeq.XToolkit.WhiteLabel.Droid/Resources/values/styles.xml
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Views/FullScreenImageDialogFragment.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/FullScreenImage/FullScreenImageDialogFragment.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/FullScreenImage/SwipeListener.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Resources/anim/fullscreen_fade_in.xml
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Resources/anim/fullscreen_fade_out.xml
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Resources/layout/dialog_full_screen_image.xml
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Resources/values/styles.xml
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/FullScreenImage/FullScreenImageStoryboard.storyboard
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/FullScreenImage/FullScreenImageViewController.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/FullScreenImage/FullScreenImageViewController.designer.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/Softeq.XToolkit.WhiteLabel.Essentials.iOS.csproj
  Softeq.XToolkit.WhiteLabel.Essentials/FullScreenImage/FullScreenImageViewModel.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/ViewModels/FullScreenImageViewModel.cs
  samples/Playground/Playground.Droid/CustomDroidBootstrapper.cs
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.Droid/Views/Controls/PhotoBrowserActivity.cs
  samples/Playground/Playground.Droid/Views/Controls/PhotoViewerActivity.cs
  samples/Playground/Playground.iOS/CustomIosBootstrapper.cs
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground.iOS/PlaygroundStyles.cs
  samples/Playground/Playground.iOS/ViewControllers/Controls/PhotoViewerViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/StartPageViewController.cs
  samples/Playground/Playground/ViewModels/Controls/PhotoViewerViewModel.cs
  samples/Playground/Playground/ViewModels/MainPageViewModel.cs
Labels: c/wl, c/wl.essentials, p/Android, p/iOS

#403 LogManager and ImagePicker removed
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/ImagePicker.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/ImageOpenedEventArgs.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/ImagePicker.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/ImagePickerOptions.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/SimpleImagePicker.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/Softeq.XToolkit.WhiteLabel.Essentials.iOS.csproj
  Softeq.XToolkit.WhiteLabel/LogManager.cs
Labels: c/wl, c/wl.essentials, p/Android, p/iOS

#402 Add tests for tab view models
  Softeq.XToolkit.WhiteLabel.Tests/ViewModels/Tab/TabViewModelTests/TabViewModelTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/ViewModels/Tab/ToolbarViewModelBaseTests/TestToolbarViewModelBase.cs
  Softeq.XToolkit.WhiteLabel.Tests/ViewModels/Tab/ToolbarViewModelBaseTests/ToolbarViewModelBaseTests.cs
  Softeq.XToolkit.WhiteLabel/Model/TabItem.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/Tab/TabViewModel.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/Tab/ToolbarViewModelBase.cs
Labels: c/wl

#404 Android: fix crash when trying to perform navigation in incorrect sta…
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/FrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel/Navigation/IFrameNavigationService.cs
Labels: c/wl, p/Android

#405 Add tests for pagination view models
  Softeq.XToolkit.WhiteLabel.Tests/Stubs/MainThreadExecutorBaseStub.cs
  Softeq.XToolkit.WhiteLabel.Tests/ViewModels/PaginationSearchViewModelBaseTests/PaginationSearchViewModelBaseTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/ViewModels/PaginationSearchViewModelBaseTests/TestPaginationSearchViewModelBaseTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/ViewModels/PaginationViewModelBaseTests/PaginationViewModelBaseTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/ViewModels/PaginationViewModelBaseTests/TestPaginationViewModelBase.cs
  Softeq.XToolkit.WhiteLabel/Model/PagingModel.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/PaginationSearchViewModelBase.cs
  Softeq.XToolkit.WhiteLabel/ViewModels/PaginationViewModelBase.cs
  samples/Playground.Forms/Playground.Forms/CoreBootstrapper.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/Components/PaginationSearchPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MainPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/Views/Components/PaginationSearchPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Components/PaginationSearchPage.xaml.cs
  samples/Playground.Forms/Playground.Forms/Views/MainPage.xaml
  samples/Playground/Playground/ViewModels/MainPageViewModel.cs
Labels: c/playground, c/wl

#406 Android: Add ability to override showing dialog
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DroidFragmentDialogService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/IDialogFragment.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
Labels: c/wl, p/Android

#407 Update XF to 4.8.0.1560
  Softeq.XToolkit.WhiteLabel.Forms/Navigation/FormsNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Forms/Softeq.XToolkit.WhiteLabel.Forms.csproj
  nuget/Softeq.XToolkit.WhiteLabel.Forms.nuspec
  samples/Playground.Forms/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/Playground.Forms.csproj
  samples/Playground.Forms/Playground.Forms/Views/Components/AsyncCommandsPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Components/PaginationSearchPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Components/PermissionsPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Components/ValidationPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/DialogsRootPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/ModalPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Dialogs/Modal/SecondModalPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MainPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DetailPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DrillNavigation/DrillLevel1Page.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/DrillNavigation/DrillLevel2Page.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/MasterPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/RootMasterDetailPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/MasterDetailNavigation/SelectedItemPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/FirstPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/SimpleNavigation/SecondPage.xaml
Labels: c/playground, c/wl.forms

#409 Android: allow to go back with one item to clear backstack
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Views/ToolbarFragmentBase.cs
Labels: c/wl, p/Android

#408 Clearing DataContext removed from DialogFragmentBase
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
Labels: c/wl, p/Android

#328 Feature/observable key groups collection tests
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableRecyclerViewAdapter.cs
  Softeq.XToolkit.Bindings.Droid/ObservableGroupAdapter.cs
  Softeq.XToolkit.Bindings.Droid/ObservableRecyclerGroupViewAdapter.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableGroupCollectionViewSource.cs
  Softeq.XToolkit.Bindings.iOS/Bindable/BindableTableViewSource.cs
  Softeq.XToolkit.Bindings.iOS/ObservableGroupTableViewSource.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollection/Helpers/ObservableKeyGroupsCollectionHelpers.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollection/ObservableKeyGroupsCollectionUnionTests.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionNew/ObservableKeyGroupsCollectionNewTests.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/CollectionEventsCatcher.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ItemsEventsCatcher.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionHelper.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTests.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsAddGroups.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsAddItems.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsClearGroup.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsCollectionChanged.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsInsertGroups.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsInsertItems.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsItemsChanged.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsRemoveGroups.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsRemoveItems.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsReplaceAllGroups.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsReplaceAllItems.cs
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/TestItem.cs
  Softeq.XToolkit.Common.Tests/CollectionsTests.cs
  Softeq.XToolkit.Common/Collections/EventArgs/NotifyGroupCollectionChangedEventArgs.cs
  Softeq.XToolkit.Common/Collections/INotifyGroupCollectionChanged.cs
  Softeq.XToolkit.Common/Collections/IObservableKeyGroupsCollection.cs
  Softeq.XToolkit.Common/Collections/ObservableKeyGroup.cs
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollection.cs
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollectionNew.cs
  Softeq.XToolkit.Common/Weak/NotifyCollectionChangedEventSubscription.cs
  samples/Playground/Playground.Droid/Views/Collections/GroupedTablePageActivity.cs
  samples/Playground/Playground.Droid/Views/MainPageActivity.cs
  samples/Playground/Playground.iOS/ViewControllers/Collections/GroupedCollectionPageViewController.cs
  samples/Playground/Playground/ViewModels/Collections/Products/ProductListViewModel.cs
  samples/Playground/Playground/ViewModels/MainPageViewModel.cs
Labels: c/bindings, p/Android, p/iOS
