Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2020-07, with the labels that each got.

#317 Rework Bootstrapper responsibility and application initialization lifecycle
  Softeq.XToolkit.WhiteLabel.Droid/MainApplicationBase.cs
  Softeq.XToolkit.WhiteLabel.Forms/FormsApp.cs
  Softeq.XToolkit.WhiteLabel.iOS/AppDelegateBase.cs
  Softeq.XToolkit.WhiteLabel/AssemblySource.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Abstract/IContainerBuilder.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerBuilder.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/IBootstrapper.cs
  samples/Playground.Forms/Playground.Forms/App.xaml.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MainPageViewModel.cs
  samples/Playground/Playground.Droid/MainApplication.cs
  samples/Playground/Playground.iOS/AppDelegate.cs
Labels: c/wl, enhancement

#318 Export build method to customize iOS Dialogs
  Softeq.XToolkit.WhiteLabel.iOS/Dialogs/AlertViewControllerBase.cs
Labels: c/wl, enhancement, p/iOS

#305 Update Unit Tests page
  documentation/articles/practices/unit-tests.md
Labels: documentation

#321 Playground fixes
  samples/Playground/Playground.iOS/ViewControllers/Collections/GroupedListPageViewController.designer.cs
  samples/Playground/Playground.iOS/Views/Collections/GroupedFooterView.cs
  samples/Playground/Playground.iOS/Views/Table/GroupedTableFooterView.cs
  samples/Playground/Playground.iOS/Views/Table/GroupedTableHeaderView.designer.cs
  samples/Playground/Playground.iOS/Views/Table/GroupedTableHeaderView.xib
Labels: c/playground, p/iOS

#322 Fix base async command execution
  Softeq.XToolkit.Common/Commands/AsyncCommandBase.cs
Labels: c/common, p/iOS
