Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2020-11, with the labels that each got.

#413 Android: handle cases when showing/dismissing dialogs after activity …
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/AlertDialogBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/DialogFragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Dialogs/IDialogFragment.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidViewLocator.cs
Labels: c/wl, p/Android

#414 PushNotifications library improvement
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationParser.cs
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications/ForegroundNotificationOptions.cs
  Softeq.XToolkit.PushNotifications/IPushNotificationParser.cs
  Softeq.XToolkit.PushNotifications/IPushNotificationsHandler.cs
  Softeq.XToolkit.PushNotifications/IPushNotificationsReceiver.cs
  Softeq.XToolkit.PushNotifications/IPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications/IPushTokenStorageService.cs
  Softeq.XToolkit.PushNotifications/IRemotePushNotificationsService.cs
  Softeq.XToolkit.PushNotifications/PushNotificationModel.cs
  Softeq.XToolkit.PushNotifications/PushNotificationRegistrationResult.cs
  Softeq.XToolkit.PushNotifications/PushNotificationsServiceBase.cs
  Softeq.XToolkit.PushNotifications/PushNotificationsUnregisterOptions.cs
  Softeq.XToolkit.PushNotifications/PushTokenStorageService.cs
Labels: c/push-notifications, p/Android

#416 Droid notification handling improvement
  Softeq.XToolkit.PushNotifications.Droid/INotificationsSettingsProvider.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationIntentActivityInfo.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationsHelper.cs
Labels: c/push-notifications, p/Android

#419 Fix/sl2
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
Labels: c/wl, p/Android

#420 Push Notification Parser fix
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationParser.cs
Labels: c/push-notifications, p/Android

#421 Android foreground notifications intent
  Softeq.XToolkit.PushNotifications.Droid/NotificationIntentActivityInfo.cs
  Softeq.XToolkit.PushNotifications.Droid/NotificationsHelper.cs
Labels: c/push-notifications, p/Android

#417 Thread safe permissions
  Softeq.XToolkit.Permissions.Droid/PermissionsService.cs
  Softeq.XToolkit.Permissions.iOS/PermissionsService.cs
Labels: c/permissions, p/Android, p/iOS

#418 Update packages
  Softeq.XToolkit.Bindings.Tests/Softeq.XToolkit.Bindings.Tests.csproj
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Remote.Tests/Softeq.XToolkit.Remote.Tests.csproj
  Softeq.XToolkit.Remote/Softeq.XToolkit.Remote.csproj
  Softeq.XToolkit.WhiteLabel.Forms/Softeq.XToolkit.WhiteLabel.Forms.csproj
  Softeq.XToolkit.WhiteLabel.Tests/Softeq.XToolkit.WhiteLabel.Tests.csproj
  Softeq.XToolkit.WhiteLabel.Tests/ViewModels/PaginationSearchViewModelBaseTests/PaginationSearchViewModelBaseTests.cs
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  samples/Playground.Forms/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/Playground.Forms.csproj
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/RemoteApp/NetworkApp/NetworkApp.csproj
  samples/RemoteApp/RemoteServices/RemoteServices.csproj
Labels: c/remote, c/wl, c/wl.forms
