Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2021-11, with the labels that each got.

#452 Added handling of items movement in a UICollectionView
  Softeq.XToolkit.Bindings.iOS/ObservableCollectionViewSource.cs
  Softeq.XToolkit.Bindings.iOS/ObservableTableViewSource.cs
Labels: c/bindings, p/iOS

#453 Update ViewModelStore only when actual navigation is happening
  Softeq.XToolkit.WhiteLabel.Droid/FragmentBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/BackStack.cs
  Softeq.XToolkit.WhiteLabel.Droid/Internal/ViewModelStore.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/DroidFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Navigation/StoryboardFrameNavigationService.cs
  Softeq.XToolkit.WhiteLabel/Navigation/IFrameNavigationService.cs
Labels: c/wl, p/Android

#455 Update packages for tests and XForms
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.WhiteLabel.Forms/Softeq.XToolkit.WhiteLabel.Forms.csproj
  Tests.Shared.props
  documentation/Softeq.XToolkit.Documentation.csproj
  samples/Playground.Forms/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/Playground.Forms.csproj
Labels: documentation, c/wl.forms

#456 Update documentation
  Softeq.XToolkit.Bindings.Droid/ObservableGroupAdapter.cs
  Softeq.XToolkit.Bindings.iOS/ObservableCollectionViewSource.cs
  Softeq.XToolkit.Bindings.iOS/ObservableGroupTableViewSource.cs
  Softeq.XToolkit.Bindings.iOS/ObservableTableViewController.cs
  Softeq.XToolkit.Bindings/Abstract/IBindable.cs
  Softeq.XToolkit.Bindings/Abstract/IBindingsOwner.cs
  Softeq.XToolkit.Bindings/Binding.cs
  Softeq.XToolkit.Bindings/BindingGeneric.cs
  Softeq.XToolkit.Bindings/PropertyChangedEventManager.cs
  Softeq.XToolkit.Common.Tests/Collections/BiDictionaryTests/DictionaryInterfaceTests.cs
  Softeq.XToolkit.Common/Commands/ICommand.cs
  Softeq.XToolkit.Common/Extensions/TaskExtensions.cs
  Softeq.XToolkit.Common/Files/ResourceFileProvider.cs
  Softeq.XToolkit.Common/Helpers/HashHelper.cs
  Softeq.XToolkit.Common/Threading/IMainThreadExecutor.cs
  Softeq.XToolkit.Common/Weak/IExecuteWithObject.cs
  Softeq.XToolkit.Common/Weak/IExecuteWithObjectAndResult.cs
  Softeq.XToolkit.Common/Weak/WeakAction.cs
  Softeq.XToolkit.Common/Weak/WeakFunc.cs
  Softeq.XToolkit.PushNotifications.Droid/PushNotificationStyles.cs
  Softeq.XToolkit.PushNotifications.iOS/INotificationsPermissionsService.cs
  Softeq.XToolkit.PushNotifications.iOS/IosPushNotificationParser.cs
  Softeq.XToolkit.PushNotifications.iOS/IosPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.iOS/NSDictionaryExtensions.cs
  Softeq.XToolkit.Remote/Client/HttpMessageHandlerBuilder.cs
  Softeq.XToolkit.Remote/IRemoteService.cs
  Softeq.XToolkit.Remote/RemoteServiceExtensions.cs
  Softeq.XToolkit.WhiteLabel.Forms/FormsMainThreadExecutor.cs
  Softeq.XToolkit.WhiteLabel/Mvvm/CommandAction.cs
  documentation/index.md
Labels: c/bindings, documentation, c/push-notifications, c/remote, c/wl.forms, p/Android, p/iOS

#458 Add SourceLink for XToolkit.Common
  NuGet.targets
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
  Softeq.XToolkit.Common/Softeq.XToolkit.Common.csproj
  nuget/Softeq.XToolkit.Common.nuspec
Labels: c/common, p/Android, p/iOS, NuGet

#459 New beta version 8
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Bindings.iOS/Softeq.XToolkit.Bindings.iOS.csproj
  Softeq.XToolkit.Bindings/Softeq.XToolkit.Bindings.csproj
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Permissions.iOS/Softeq.XToolkit.Permissions.iOS.csproj
  Softeq.XToolkit.Permissions/Softeq.XToolkit.Permissions.csproj
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.PushNotifications.iOS/Softeq.XToolkit.PushNotifications.iOS.csproj
  Softeq.XToolkit.PushNotifications/Softeq.XToolkit.PushNotifications.csproj
  Softeq.XToolkit.Remote/Softeq.XToolkit.Remote.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/Softeq.XToolkit.WhiteLabel.Essentials.iOS.csproj
  Softeq.XToolkit.WhiteLabel.Essentials/Softeq.XToolkit.WhiteLabel.Essentials.csproj
  Softeq.XToolkit.WhiteLabel.Forms/Softeq.XToolkit.WhiteLabel.Forms.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  documentation/articles/contributing-documentation.md
  documentation/articles/nuget-release-process.md
  documentation/articles/toc.yml
  documentation/build.sh
  nuget/Softeq.XToolkit.Bindings.nuspec
  nuget/Softeq.XToolkit.Common.nuspec
  nuget/Softeq.XToolkit.Permissions.nuspec
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.Remote.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Essentials.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Forms.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
  tools/set-headers.sh
Labels: c/bindings, c/wl, documentation, c/push-notifications, c/remote, c/wl.forms, p/Android, p/iOS, c/permissions, c/wl.essentials, NuGet
