Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2021-07, with the labels that each got.

#440 Xamarin.Essentials nuget updated
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Permissions/Softeq.XToolkit.Permissions.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
Labels: c/permissions, c/wl, p/Android

#442 NuGets warnings resolved
  Softeq.XToolkit.Permissions.iOS/Softeq.XToolkit.Permissions.iOS.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
Labels: c/permissions, c/wl, p/iOS

#443 update to Xamarin.essentials v 1.7.0
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Permissions.iOS/Softeq.XToolkit.Permissions.iOS.csproj
  Softeq.XToolkit.Permissions/Softeq.XToolkit.Permissions.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Forms/Softeq.XToolkit.WhiteLabel.Forms.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  samples/Playground.Forms/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  samples/Playground.Forms/Playground.Forms.Droid/Properties/AndroidManifest.xml
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/Playground.Forms.csproj
Labels: c/permissions, c/wl, c/wl.forms, p/Android, p/iOS

#444 Update packages
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Bindings.Tests/Softeq.XToolkit.Bindings.Tests.csproj
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.Remote.Tests/Softeq.XToolkit.Remote.Tests.csproj
  Softeq.XToolkit.Remote/Softeq.XToolkit.Remote.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/ViewComponents/BottomNavigationComponentBase.cs
  Softeq.XToolkit.WhiteLabel.Tests/Softeq.XToolkit.WhiteLabel.Tests.csproj
Labels: c/bindings, c/push-notifications, c/remote, c/wl, p/Android
