Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2021-01, with the labels that each got.

#424 Update AndroidX packages
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
Labels: c/bindings, c/push-notifications, c/wl, p/Android

#428 BaseFragment OnCreate fix
  Softeq.XToolkit.WhiteLabel.Droid/FragmentBase.cs
Labels: c/wl, p/Android

#431 Imagepicker droid
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/DroidImagePickerResult.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/DroidImagePickerService.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/IImagePickerActivityResultHandler.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/ImagePickerActivity.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/ImagePickerActivityResultHandler.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/ImagePickerUtils.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/IosImagePickerResult.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/ImagePicker/IosImagePickerService.cs
  Softeq.XToolkit.WhiteLabel.Essentials/ImagePicker/ImageExtensionToStringConverter.cs
  Softeq.XToolkit.WhiteLabel.Essentials/ImagePicker/ImagePickerResult.cs
  samples/Playground/Playground.Droid/CustomDroidBootstrapper.cs
Labels: c/wl.essentials, p/Android
