Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2022-10, with the labels that each got.

#494 pending intent fixed
  Softeq.XToolkit.PushNotifications.Droid/NotificationsHelper.cs
Labels: c/push-notifications, p/Android

#496 Expose rules to configure container outside
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerBuilder.cs
Labels: bug, c/wl

#495 Conditional Assert to warn about compiler-generated targets
  Softeq.XToolkit.Common/Weak/WeakDelegate.cs
Labels: enhancement, c/common

#499 nuget updated
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
Labels: c/push-notifications, p/Android

#497 Repository improvements
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/labeler.yml
  documentation/articles/developer-guide.md
  tools/binobj-cleaner.sh
Labels: CI/CD, documentation
