Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2022-09, with the labels that each got.

#488 Update infrastructure packages
  Softeq.XToolkit.Common.Tests/Files/BaseFileProviderTests/BaseFileProviderTests.cs
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  _CodeStyles.targets
  _Tests.Platform.targets
  _Tests.targets
  azure-pipelines/templates/vars.yml
  documentation/Softeq.XToolkit.Documentation.csproj
  documentation/build.sh
  documentation/nested-namespaces.ps1
Labels: enhancement, CI/CD, documentation, dependencies

#490 Add support for using Android 12
  Softeq.XToolkit.Permissions/PermissionStatus.cs
  Softeq.XToolkit.Permissions/PluginPermissionStatusExtensions.cs
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.Droid/LocaleChangeBroadcastReceiver.cs
Labels: c/push-notifications, p/Android, c/permissions

#491 Update to Android 12 & AndroidX packages
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Common.Droid.Tests/Properties/AndroidManifest.xml
  Softeq.XToolkit.Common.Droid.Tests/Softeq.XToolkit.Common.Droid.Tests.csproj
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.PushNotifications.Droid/DroidPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  XToolkit.sln
  nuget/Softeq.XToolkit.Bindings.nuspec
  nuget/Softeq.XToolkit.Common.nuspec
  nuget/Softeq.XToolkit.Permissions.nuspec
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Essentials.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.Droid/Properties/AndroidManifest.xml
Labels: c/common, c/bindings, c/wl, c/push-notifications, p/Android, c/permissions, c/wl.essentials
