Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2022-01, with the labels that each got.

#467 Replace custom delegates with EventHandler pattern
  Softeq.XToolkit.Connectivity.iOS/IosConnectivityService.cs
  Softeq.XToolkit.Connectivity/ConnectivityService.cs
  Softeq.XToolkit.Connectivity/IConnectivityService.cs
Labels: c/connectivity, p/iOS

#468 Rework LauncherServices to use Xamarin.Essentials
  Softeq.XToolkit.WhiteLabel.Droid/Services/DroidLauncherService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/LauncherService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Services/IosLauncherService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Services/LauncherService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Interfaces/ILauncherService.cs
  Softeq.XToolkit.WhiteLabel/Services/EssentialsLauncherService.cs
  samples/Playground.Forms/Playground.Forms.Droid/DroidBootstrapper.cs
  samples/Playground.Forms/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  samples/Playground.Forms/Playground.Forms.iOS/IosBootstrapper.cs
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/CoreBootstrapper.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/Components/LauncherPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/ViewModels/MainPageViewModel.cs
  samples/Playground.Forms/Playground.Forms/Views/Components/LauncherPage.xaml
  samples/Playground.Forms/Playground.Forms/Views/Components/LauncherPage.xaml.cs
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.iOS/Playground.iOS.csproj
Labels: c/wl, p/Android, p/iOS

#466 Documentation API with nested namespaces
  azure-pipelines/Documentation.yml
  azure-pipelines/XToolkit.yml
  documentation/Softeq.XToolkit.Documentation.csproj
  documentation/build.sh
  documentation/nested-namespaces.ps1
  documentation/toc.yml
Labels: CI/CD, documentation

#470 Merge Droid visibility converters
  Softeq.XToolkit.Common.Droid.Tests/Converters/VisibilityConverterTests.cs
  Softeq.XToolkit.Common.Droid.Tests/Softeq.XToolkit.Common.Droid.Tests.csproj
  Softeq.XToolkit.Common.Droid/Converters/GoneConverter.cs
  Softeq.XToolkit.Common.Droid/Converters/VisibilityConverter.cs
  samples/Playground/Playground.Droid/Converters/BoolToVisibilityConverter.cs
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.Droid/Views/Collections/GroupedCollectionPageActivity.cs
  samples/Playground/Playground.Droid/Views/Collections/GroupedTablePageActivity.cs
Labels: c/common, p/Android

#465 Fix included NuGet.targets for external consumers
  Directory.Build.props
  Directory.Build.targets
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Bindings.Tests/Softeq.XToolkit.Bindings.Tests.csproj
  Softeq.XToolkit.Bindings.iOS/Softeq.XToolkit.Bindings.iOS.csproj
  Softeq.XToolkit.Bindings/Softeq.XToolkit.Bindings.csproj
  Softeq.XToolkit.Common.Droid.Tests/Softeq.XToolkit.Common.Droid.Tests.csproj
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common.iOS.Tests/Softeq.XToolkit.Common.iOS.Tests.csproj
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
  Softeq.XToolkit.Common/Softeq.XToolkit.Common.csproj
  Softeq.XToolkit.Connectivity.iOS/Softeq.XToolkit.Connectivity.iOS.csproj
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Permissions.iOS/Softeq.XToolkit.Permissions.iOS.csproj
  Softeq.XToolkit.Permissions/Softeq.XToolkit.Permissions.csproj
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.PushNotifications.iOS/Softeq.XToolkit.PushNotifications.iOS.csproj
  Softeq.XToolkit.PushNotifications/Softeq.XToolkit.PushNotifications.csproj
  Softeq.XToolkit.Remote.Tests/Softeq.XToolkit.Remote.Tests.csproj
  Softeq.XToolkit.Remote/Softeq.XToolkit.Remote.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/Softeq.XToolkit.WhiteLabel.Essentials.iOS.csproj
  Softeq.XToolkit.WhiteLabel.Essentials/Softeq.XToolkit.WhiteLabel.Essentials.csproj
  Softeq.XToolkit.WhiteLabel.Forms/Softeq.XToolkit.WhiteLabel.Forms.csproj
  Softeq.XToolkit.WhiteLabel.Tests/Softeq.XToolkit.WhiteLabel.Tests.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  _CodeStyles.targets
  _NuGet.targets
  _Tests.Platform.targets
  _Tests.targets
Labels: c/common, c/bindings, c/wl, c/connectivity, c/push-notifications, c/remote, c/wl.forms, p/Android, p/iOS, c/permissions, c/wl.essentials, NuGet

#469 Improve docs
  Softeq.XToolkit.Bindings/Extensions/BindableExtensions.cs
  Softeq.XToolkit.Common/Collections/BiDictionary.cs
  Softeq.XToolkit.Common/Disposables/Disposable.cs
  Softeq.XToolkit.Common/Extensions/EnumExtensions.cs
  Softeq.XToolkit.Common/Extensions/StringExtensions.cs
  Softeq.XToolkit.Common/Files/Abstractions/IDirectory.cs
  Softeq.XToolkit.Common/Files/Abstractions/IFile.cs
  Softeq.XToolkit.Common/Files/Abstractions/IFileSystem.cs
  Softeq.XToolkit.Common/Files/BaseFileProvider.cs
  Softeq.XToolkit.Common/Files/InternalStorageFileProvider.cs
  Softeq.XToolkit.Common/Files/ResourceFileProvider.cs
  Softeq.XToolkit.Common/GenericEventArgs.cs
  Softeq.XToolkit.Common/Helpers/TagsHelper.cs
  Softeq.XToolkit.Common/Logger/ConsoleLogManager.cs
  Softeq.XToolkit.Common/Logger/ConsoleLogger.cs
  Softeq.XToolkit.Common/Logger/ILogManager.cs
  Softeq.XToolkit.Common/Threading/Execute.cs
  Softeq.XToolkit.WhiteLabel.iOS/Interfaces/IViewControllerProvider.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerBuilder.cs
  documentation/articles/xtoolkit/common.md
Labels: c/common, documentation
