Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2023-03, with the labels that each got.

#520 Revert "Merge pull request #518 from Softeq/downgrade-packages-upd"
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/labeler.yml
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Bindings.Tests/Softeq.XToolkit.Bindings.Tests.csproj
  Softeq.XToolkit.Common.Droid.Tests/Properties/AndroidManifest.xml
  Softeq.XToolkit.Common.Droid.Tests/Softeq.XToolkit.Common.Droid.Tests.csproj
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.Common.Tests/Softeq.XToolkit.Common.Tests.csproj
  Softeq.XToolkit.Common/Weak/WeakDelegate.cs
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Remote.Tests/Client/DefaultHttpClientFactoryTests.cs
  Softeq.XToolkit.Remote.Tests/Client/DefaultHttpMessageHandlerBuilderTests.cs
  Softeq.XToolkit.Remote.Tests/Client/HttpClientBuilderTests.cs
  Softeq.XToolkit.Remote.Tests/Softeq.XToolkit.Remote.Tests.csproj
  Softeq.XToolkit.Remote/Softeq.XToolkit.Remote.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Forms/Softeq.XToolkit.WhiteLabel.Forms.csproj
  Softeq.XToolkit.WhiteLabel.Tests/Softeq.XToolkit.WhiteLabel.Tests.csproj
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/Containers/DryIocContainerBuilder.cs
  Softeq.XToolkit.WhiteLabel/Services/JsonSerializer.cs
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  XToolkit.sln
  azure-pipelines/Documentation.yml
  azure-pipelines/XToolkit.yml
  azure-pipelines/templates/app-jobs.yml
  azure-pipelines/templates/vars.yml
  documentation/articles/developer-guide.md
  nuget/Softeq.XToolkit.Bindings.nuspec
  nuget/Softeq.XToolkit.Common.nuspec
  nuget/Softeq.XToolkit.Permissions.nuspec
  nuget/Softeq.XToolkit.PushNotifications.nuspec
  nuget/Softeq.XToolkit.Remote.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Essentials.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.Forms.nuspec
  nuget/Softeq.XToolkit.WhiteLabel.nuspec
  samples/Playground.Forms/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  samples/Playground.Forms/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  samples/Playground.Forms/Playground.Forms/Playground.Forms.csproj
  samples/Playground.Forms/Playground.Forms/Remote/RemoteBootstrapper.cs
  samples/Playground.RemoteData/Playground.RemoteData.csproj
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.Droid/Properties/AndroidManifest.xml
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  tools/binobj-cleaner.sh
Labels: c/common, CI/CD, c/bindings, c/wl, c/playground, c/remote, c/wl.forms, p/Android, c/permissions, c/wl.essentials

#519 Implementation of 'Notification' and 'Bluetooth' permissions
  Softeq.XToolkit.Permissions.Droid/Permissions/Bluetooth.cs
  Softeq.XToolkit.Permissions.Droid/Permissions/Notifications.cs
  Softeq.XToolkit.Permissions.Droid/PermissionsManager.cs
  Softeq.XToolkit.Permissions.Droid/SdkVersion.cs
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Permissions.iOS/Permissions/Bluetooth.cs
  Softeq.XToolkit.Permissions.iOS/Permissions/Notifications.cs
  Softeq.XToolkit.Permissions.iOS/PermissionsManager.cs
  Softeq.XToolkit.Permissions.iOS/PermissionsService.cs
  Softeq.XToolkit.Permissions.iOS/Softeq.XToolkit.Permissions.iOS.csproj
  Softeq.XToolkit.Permissions/NotificationsPermission.cs
  Softeq.XToolkit.Permissions/Permissions/Bluetooth.cs
  Softeq.XToolkit.Permissions/Permissions/Notifications.cs
  Softeq.XToolkit.Permissions/PermissionsService.cs
  samples/Playground.Forms/Playground.Forms.iOS/IosBootstrapper.cs
  samples/Playground.Forms/Playground.Forms/CoreBootstrapper.cs
  samples/Playground/Playground.Droid/CustomDroidBootstrapper.cs
  samples/Playground/Playground.Droid/Properties/AndroidManifest.xml
  samples/Playground/Playground.Droid/Resources/layout/activity_permissions.xml
  samples/Playground/Playground.Droid/Views/Components/PermissionsPageActivity.cs
  samples/Playground/Playground.iOS/CustomIosBootstrapper.cs
  samples/Playground/Playground.iOS/Info.plist
  samples/Playground/Playground.iOS/Main.cs
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground.iOS/ViewControllers/Components/PermissionsPageStoryboard.storyboard
  samples/Playground/Playground.iOS/ViewControllers/Components/PermissionsPageViewController.cs
  samples/Playground/Playground.iOS/ViewControllers/Components/PermissionsPageViewController.designer.cs
  samples/Playground/Playground/CustomBootstrapper.cs
  samples/Playground/Playground/ViewModels/Components/PermissionViewModel.cs
  samples/Playground/Playground/ViewModels/Components/PermissionsPageViewModel.cs
Labels: c/playground, p/Android, p/iOS, c/permissions

#521 Add System.Text.Json serializer and tests
  Softeq.XToolkit.Common/Interfaces/IJsonSerializer.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/DefaultJsonSerializerTests/DefaultJsonSerializerTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/JsonSerializers/JsonDeserializationDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/JsonSerializers/JsonSerializationDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/JsonSerializers/JsonSerializationTestsStub.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/NewtonsoftJsonSerializerTests/NewtonsoftJsonSerializerTests.cs
  Softeq.XToolkit.WhiteLabel/Services/DefaultJsonSerializer.cs
  Softeq.XToolkit.WhiteLabel/Services/NewtonsoftJsonSerializer.cs
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
Labels: c/common, c/wl

#522 Show warning when ConfigureAwait should be used
  Softeq.XToolkit.Common/Commands/AsyncCommandBase.cs
  Softeq.XToolkit.Common/Files/BaseFileProvider.cs
  Softeq.XToolkit.Common/Threading/TaskDeferral.cs
  Softeq.XToolkit.Common/Timers/Timer.cs
  Softeq.XToolkit.Permissions/PermissionsService.cs
  Softeq.XToolkit.WhiteLabel.Tests/GlobalSuppressions.cs
  XToolkit.ruleset
  samples/Playground/Playground.Droid/GlobalSuppressions.cs
  samples/Playground/Playground.iOS/GlobalSuppressions.cs
  samples/Playground/Playground/GlobalSuppressions.cs
Labels: enhancement, c/common, c/playground, c/permissions

#523 Remove Chunkify method
  Softeq.XToolkit.Common.Tests/Extensions/EnumerableExtensionsTests/EnumerableExtensionsDataProvider.cs
  Softeq.XToolkit.Common.Tests/Extensions/EnumerableExtensionsTests/EnumerableExtensionsTests.cs
  Softeq.XToolkit.Common/Extensions/EnumerableExtensions.cs
Labels: c/common

#524 Remove Newtonsoft.Json
  Softeq.XToolkit.Common/Interfaces/IJsonSerializer.cs
  Softeq.XToolkit.Remote/Softeq.XToolkit.Remote.csproj
  Softeq.XToolkit.WhiteLabel.Droid/ActivityBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/DroidBootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Interfaces/IBundleService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/ActivityPageNavigationService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Navigation/BundleService.cs
  Softeq.XToolkit.WhiteLabel.Tests/Extensions/ExpressionExtensionsTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/FluentNavigators/FluentNavigatorExtensionsTests/FluentNavigatorExtensionsTestsDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/NavigationParameterModelTests/NavigationParameterModelDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/NavigationParameterModelTests/NavigationParameterModelTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Navigation/PropertyInfoModelTests/NavigationPropertyInfoTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/DefaultJsonSerializerTests/DefaultJsonSerializerTests.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/DefaultJsonSerializerTests/DefaultJsonSerializerTestsNavigationSerializer.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/JsonSerializers/JsonDeserializationDataProvider.cs
  Softeq.XToolkit.WhiteLabel.Tests/Services/NewtonsoftJsonSerializerTests/NewtonsoftJsonSerializerTests.cs
  Softeq.XToolkit.WhiteLabel.iOS/AppDelegateBase.cs
  Softeq.XToolkit.WhiteLabel/Bootstrapper/BootstrapperBase.cs
  Softeq.XToolkit.WhiteLabel/Dependencies.cs
  Softeq.XToolkit.WhiteLabel/Extensions/ExpressionExtensions.cs
  Softeq.XToolkit.WhiteLabel/Navigation/FluentNavigators/FluentNavigatorBase.cs
  Softeq.XToolkit.WhiteLabel/Navigation/INavigationSerializer.cs
  Softeq.XToolkit.WhiteLabel/Navigation/NavigationExtensions.cs
  Softeq.XToolkit.WhiteLabel/Navigation/NavigationParameterModel.cs
  Softeq.XToolkit.WhiteLabel/Navigation/NavigationPropertyInfo.cs
  Softeq.XToolkit.WhiteLabel/Services/DefaultJsonSerializer.cs
  Softeq.XToolkit.WhiteLabel/Services/NewtonsoftJsonSerializer.cs
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  samples/Playground/Playground.iOS/Playground.iOS.csproj
Labels: c/common, c/wl, c/playground, c/remote, p/Android, p/iOS
