Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2023-10, with the labels that each got.

#533 location eq added
  Softeq.XToolkit.WhiteLabel/Location/LocationModel.cs
Labels: c/wl

#537 Add IEquatable for LocationModel
  Softeq.XToolkit.WhiteLabel/Location/LocationModel.cs
Labels: c/wl

#535 Refactor permissions library
  Softeq.XToolkit.Permissions.Droid/PermissionsManager.cs
  Softeq.XToolkit.Permissions.iOS/Permissions/Bluetooth.cs
  Softeq.XToolkit.Permissions.iOS/Permissions/Notifications.cs
  Softeq.XToolkit.Permissions.iOS/PermissionsManager.cs
Labels: p/Android, p/iOS, c/permissions

#538 Add binding support for Count property (ObservableKeyGroupsCollection)
  Softeq.XToolkit.Common.Tests/Collections/ObservableKeyGroupsCollectionTest/ObservableKeyGroupsCollectionTestsCountChanged.cs
  Softeq.XToolkit.Common/Collections/ObservableKeyGroupsCollection.cs
Labels: c/common

#534 Update docfx
  documentation/build.sh
  documentation/docfx.json
  documentation/filterConfig.yml
  documentation/templates/material-classic/styles/main.css
  documentation/templates/material-modern/public/main.css
  documentation/templates/material/partials/head.tmpl.partial
Labels: enhancement, documentation
