Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2023-02, with the labels that each got.

#498 Simplify projects to SDK style
  Directory.Build.props
  Softeq.XToolkit.Bindings.Droid/Properties/AssemblyInfo.cs
  Softeq.XToolkit.Bindings.Droid/Softeq.XToolkit.Bindings.Droid.csproj
  Softeq.XToolkit.Bindings.iOS/Properties/AssemblyInfo.cs
  Softeq.XToolkit.Bindings.iOS/Softeq.XToolkit.Bindings.iOS.csproj
  Softeq.XToolkit.Common.Droid.Tests/Properties/AssemblyInfo.cs
  Softeq.XToolkit.Common.Droid.Tests/Softeq.XToolkit.Common.Droid.Tests.csproj
  Softeq.XToolkit.Common.Droid/Properties/AssemblyInfo.cs
  Softeq.XToolkit.Common.Droid/Softeq.XToolkit.Common.Droid.csproj
  Softeq.XToolkit.Common.iOS.Tests/Info.plist
  Softeq.XToolkit.Common.iOS.Tests/Softeq.XToolkit.Common.iOS.Tests.csproj
  Softeq.XToolkit.Common.iOS/Properties/AssemblyInfo.cs
  Softeq.XToolkit.Common.iOS/Softeq.XToolkit.Common.iOS.csproj
  Softeq.XToolkit.Connectivity.iOS/Properties/AssemblyInfo.cs
  Softeq.XToolkit.Connectivity.iOS/Softeq.XToolkit.Connectivity.iOS.csproj
  Softeq.XToolkit.Permissions.Droid/Properties/AssemblyInfo.cs
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Permissions.iOS/Properties/AssemblyInfo.cs
  Softeq.XToolkit.Permissions.iOS/Softeq.XToolkit.Permissions.iOS.csproj
  Softeq.XToolkit.PushNotifications.Droid/Properties/AssemblyInfo.cs
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.PushNotifications.iOS/Properties/AssemblyInfo.cs
  Softeq.XToolkit.PushNotifications.iOS/Softeq.XToolkit.PushNotifications.iOS.csproj
  Softeq.XToolkit.WhiteLabel.Droid/Properties/AssemblyInfo.cs
  Softeq.XToolkit.WhiteLabel.Droid/Resources/layout/activity_bottom_navigation.xml
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Properties/AssemblyInfo.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/Properties/AssemblyInfo.cs
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/Softeq.XToolkit.WhiteLabel.Essentials.iOS.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Properties/AssemblyInfo.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  global.json
  samples/Playground/Playground.Droid/Assets/AboutAssets.txt
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.Droid/Properties/AssemblyInfo.cs
  samples/Playground/Playground.Droid/Resources/AboutResources.txt
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground.iOS/Properties/AssemblyInfo.cs
  samples/Playground/Playground.iOS/ViewControllers/Dialogs/CustomTransitioningDelegate.cs
Labels: c/common, c/bindings, c/wl, c/playground, c/connectivity, c/push-notifications, p/Android, p/iOS, c/permissions, c/wl.essentials

#512 Fixed handling of silent push notifications on Android
  Softeq.XToolkit.PushNotifications.Droid/Abstract/IDroidFirebaseMessagingHandler.cs
  Softeq.XToolkit.PushNotifications.Droid/Services/DroidPushNotificationsConsumer.cs
  Softeq.XToolkit.PushNotifications.Droid/Services/DroidPushNotificationsService.cs
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
  Softeq.XToolkit.PushNotifications.Droid/XFirebaseMessagingService.cs
Labels: c/push-notifications, p/Android

#516 update target sdk. update firebase messaging
  Softeq.XToolkit.PushNotifications.Droid/Softeq.XToolkit.PushNotifications.Droid.csproj
Labels: c/push-notifications, p/Android

#517 Migrate from Xamarin.Essentials to Microsoft.Maui.Essentials
  Softeq.XToolkit.Permissions.Droid/PermissionsManager.cs
  Softeq.XToolkit.Permissions.Droid/PermissionsService.cs
  Softeq.XToolkit.Permissions.Droid/RequestResultHandler.cs
  Softeq.XToolkit.Permissions.Droid/Softeq.XToolkit.Permissions.Droid.csproj
  Softeq.XToolkit.Permissions.iOS/PermissionsManager.cs
  Softeq.XToolkit.Permissions.iOS/PermissionsService.cs
  Softeq.XToolkit.Permissions.iOS/Softeq.XToolkit.Permissions.iOS.csproj
  Softeq.XToolkit.Permissions/DefaultPermissionsDialogService.cs
  Softeq.XToolkit.Permissions/IPermissionsDialogService.cs
  Softeq.XToolkit.Permissions/IPermissionsManager.cs
  Softeq.XToolkit.Permissions/IPermissionsService.cs
  Softeq.XToolkit.Permissions/NotificationsPermission.cs
  Softeq.XToolkit.Permissions/PluginPermissionStatusExtensions.cs
  Softeq.XToolkit.Permissions/Softeq.XToolkit.Permissions.csproj
  Softeq.XToolkit.WhiteLabel.Droid/MainApplicationBase.cs
  Softeq.XToolkit.WhiteLabel.Droid/Providers/ContextProvider.cs
  Softeq.XToolkit.WhiteLabel.Droid/Services/DroidAppInfoService.cs
  Softeq.XToolkit.WhiteLabel.Droid/Softeq.XToolkit.WhiteLabel.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/ImagePicker/DroidImagePickerService.cs
  Softeq.XToolkit.WhiteLabel.Essentials.Droid/Softeq.XToolkit.WhiteLabel.Essentials.Droid.csproj
  Softeq.XToolkit.WhiteLabel.Essentials.iOS/Softeq.XToolkit.WhiteLabel.Essentials.iOS.csproj
  Softeq.XToolkit.WhiteLabel.iOS/Services/IosAppInfoService.cs
  Softeq.XToolkit.WhiteLabel.iOS/Softeq.XToolkit.WhiteLabel.iOS.csproj
  Softeq.XToolkit.WhiteLabel/Interfaces/IAppInfoService.cs
  Softeq.XToolkit.WhiteLabel/Model/Platform.cs
  Softeq.XToolkit.WhiteLabel/Services/EssentialsAppInfoService.cs
  Softeq.XToolkit.WhiteLabel/Services/EssentialsLauncherService.cs
  Softeq.XToolkit.WhiteLabel/Services/InternalSettings.cs
  Softeq.XToolkit.WhiteLabel/Softeq.XToolkit.WhiteLabel.csproj
  azure-pipelines/templates/setup-dotnet.yml
  samples/Playground/Playground.Droid/CustomDroidBootstrapper.cs
  samples/Playground/Playground.Droid/Playground.Droid.csproj
  samples/Playground/Playground.iOS/CustomIosBootstrapper.cs
  samples/Playground/Playground.iOS/Playground.iOS.csproj
  samples/Playground/Playground/CustomBootstrapper.cs
  samples/Playground/Playground/Playground.csproj
  samples/Playground/Playground/ViewModels/Components/PermissionViewModel.cs
  samples/Playground/Playground/ViewModels/Components/PermissionsPageViewModel.cs
Labels: CI/CD, c/wl, c/playground, p/Android, p/iOS, c/permissions, c/wl.essentials

#514 Update documentation & rework nested namespaces
  azure-pipelines/Documentation.yml
  documentation/articles/configure-android.md
  documentation/articles/create-activity.md
  documentation/articles/create-storyboard-viewcontroller.md
  documentation/articles/getting-started.md
  documentation/articles/xtoolkit/version-support.md
  documentation/build.sh
  documentation/docfx.json
  documentation/index.md
  documentation/nested-namespaces.ps1
Labels: CI/CD, documentation
