Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2024-07, with the labels that each got.

#553 Added unsubscribing from CanExecute-related events when disposing SetCommandWithDisposing subscription
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableViewHolder.cs
  Softeq.XToolkit.Bindings.Droid/DroidBindingFactory.cs
  Softeq.XToolkit.Bindings.iOS/AppleBindingFactory.cs
  Softeq.XToolkit.Bindings/BindingExtensions.cs
  Softeq.XToolkit.Bindings/BindingFactoryBase.cs
  Softeq.XToolkit.Bindings/IBindingFactory.cs
  Softeq.XToolkit.Common/Disposables/DisposableSubscriptionsComponent.cs
  Softeq.XToolkit.WhiteLabel.Droid/FragmentBase.cs
Labels: c/common, c/bindings, c/wl, p/Android, p/iOS, add to master

#555 Project/ph1 net8 merge
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableRecyclerViewAdapter.cs
  Softeq.XToolkit.Common/Commands/IAsyncCommand.cs
  Softeq.XToolkit.PushNotifications.Droid/Services/DroidPushNotificationsConsumer.cs
  Softeq.XToolkit.WhiteLabel.Essentials/ImagePicker/ImagePickerResult.cs
Labels: c/common, c/bindings, c/wl, c/push-notifications, p/Android, c/wl.essentials

#556 add logs
  Softeq.XToolkit.Common.iOS/Extensions/NSStringExtensions.cs
Labels: c/common, p/iOS
