Repository Softeq/XToolkit.WhiteLabel, pull requests merged in 2024-09, with the labels that each got.

#560 BindableRecyclerViewAdapter: added ability to dispose internal subscriptions without disposing the base Java.Lang.Object
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableRecyclerViewAdapter.cs
Labels: c/bindings, p/Android

#562 extra logs added
  Softeq.XToolkit.Common.iOS/Extensions/NSStringExtensions.cs
Labels: c/common, p/iOS

#563 Fixed nullability in IInternalSettings interface
  Softeq.XToolkit.Common/Extensions/InternalSettingsExtensions.cs
  Softeq.XToolkit.Common/Interfaces/IInternalSettings.cs
  Softeq.XToolkit.PushNotifications/Abstract/IPushTokenStorageService.cs
  Softeq.XToolkit.PushNotifications/PushTokenStorageService.cs
  Softeq.XToolkit.PushNotifications/PushTokenSynchronizer.cs
  Softeq.XToolkit.WhiteLabel/Services/InternalSettings.cs
Labels: c/common, c/wl, c/push-notifications

#561 Managing bindings in bindable RecyclerView adapter and view holders
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableRecyclerViewAdapter.cs
  Softeq.XToolkit.Bindings.Droid/Bindable/BindableViewHolder.cs
  Softeq.XToolkit.Bindings.Droid/Bindable/IBindableRecyclerViewAdapter.cs
  Softeq.XToolkit.Bindings.Droid/Bindable/IBindableViewHolder.cs
Labels: c/bindings, p/Android
